# Utilizando o get_dummies para o One Hot Encoding
- Utilizando o get_dummies para realizar o One Hot Encoding
    - **One Hot Encoding**: é o processo de transformar colunas, onde os dados não possuem relação entre si, em novas colunas com valores 0 ou 1 referente a presença ou não do valor
    - Podemos fazer isso através do OneHotEncoder ou de várias outras formas
<br><br>  
- Vamos usar o dataset obtido no módulo de Data Cleaning, disponível em `train2.csv` no link abaixo:
    - https://drive.google.com/file/d/1Mlqxk_DFbeLghUd4LXOjbQXTPuLWKSIl/view?usp=share_link

In [1]:
# Importando o pandas
import pandas as pd

In [2]:
# Importando os dados do titanic após as etapas de Data Cleaning
titanic = pd.read_csv('train2.csv')

In [3]:
# Visualizando a tabela
titanic.head(2)

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked Titulos
0         0       3    male  22.0      1      0   7.2500        S      Mr
1         1       1  female  38.0      1      0  71.2833        C     Mrs

- **Vamos utilizar o get_dummies para fazer o One Hot Encoding dessas mesmas colunas**
    - https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.get_dummies.html

In [4]:
# Utilizando o get_dummies
pd.get_dummies(titanic[['Embarked','Titulos']])

,Embarked_C,Embarked_Q,Embarked_S,Titulos_Master,Titulos_Miss,Titulos_Mr,Titulos_Mrs,Titulos_Outros
0,0,0,1,0,0,1,0,0
1,1,0,0,0,0,0,1,0
2,0,0,1,0,1,0,0,0
3,0,0,1,0,0,0,1,0
4,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...
886,0,0,1,0,0,0,0,1
887,0,0,1,0,1,0,0,0
888,0,0,1,0,1,0,0,0
889,1,0,0,0,0,1,0,0
890,0,1,0,0,0,1,0,0

In [6]:
# Unindo o get_dummies com nossa base
titanic = pd.concat([titanic,pd.get_dummies(titanic[['Embarked','Titulos']])],axis=1)

In [7]:
# Visualizando a base
titanic.head(3)

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Titulos,Embarked_C,Embarked_Q,Embarked_S,Titulos_Master,Titulos_Miss,Titulos_Mr,Titulos_Mrs,Titulos_Outros
0,0,3,male,22.0,1,0,7.2500,S,Mr,0,0,1,0,0,1,0,0
1,1,1,female,38.0,1,0,71.2833,C,Mrs,1,0,0,0,0,0,1,0
2,1,3,female,26.0,0,0,7.9250,S,Miss,0,0,1,0,1,0,0,0

- Verificando a quantidade de registros na coluna títulos

In [8]:
# Contando os valores em "Títulos"
titanic.Titulos.value_counts()

Mr        517
Miss      182
Mrs       125
Master     40
Outros     27
Name: Titulos, dtype: int64

- **Utilizando o OneHotEncoder conseguimos limitar o número de categorias (max_categories) e até selecionar o número mínimo de registros para considerarmos uma categoria (min_frequency)**
    - https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html

In [ ]:
# Importando

In [ ]:
# Utilizando o OneHotEncoder limitando as colunas

In [ ]:
# Fazendo o fit com os dados

In [ ]:
# Fazendo a transformação da coluna Embarked

In [ ]:
# Verificando o nome das colunas

In [ ]:
# Agora limitando as linhas

In [ ]:
# Fazendo o fit com os dados

In [ ]:
# Fazendo a transformação da coluna Embarked

In [ ]:
# Verificando o nome das colunas

- **Além disso, o OneHotEncoder também funciona melhor no caso de termos uma categoria nos dados de produção que não estava nos dados de treinamento / avaliação do modelo**

In [ ]:
# Importando novamente o dataset

In [ ]:
# Retirando a coluna de embarque e gênero

In [ ]:
# Visualizando a base

- Utilizando o **.get_dummies()**

In [ ]:
# Utilizando o get_dummies

In [ ]:
# Excluindo a coluna Titulos

In [ ]:
# Visualizando a nova base

In [ ]:
# Importando o DecisionTreeClassifier

In [ ]:
# Criando o classificador

In [ ]:
# Separando X e Y

In [ ]:
# Fazendo o fit com os dados

- Agora vamos usar a base `previsao` para fazer o predict

In [ ]:
# Importando o dataset para fazer a previsao

In [ ]:
# Retirando a coluna de embarque e gênero

In [ ]:
# Utilizando o get_dummies

In [ ]:
# Excluindo a coluna Titulos

In [ ]:
# Visualizando a base

In [ ]:
# Separando X e Y

In [ ]:
# Utilizando a árvode de classificação para fazer a previsão

<a id='ohe'></a>
- Utilizando o **OneHotEncoder**

In [ ]:
# Importando novamente o dataset

In [ ]:
# Retirando a coluna de embarque e gênero

In [ ]:
# Visualizando a base

In [ ]:
# Utilizando o OneHotEncoder limitando as colunas

In [ ]:
# Fazendo o fit com os dados

In [ ]:
# Verificando o nome das colunas

In [ ]:
# Criando um DataFrame

In [ ]:
# Unindo esses valores no dataset do titanic

In [ ]:
# Eliminando a coluna Titulos

In [ ]:
# Criando o classificador

In [ ]:
# Separando X e Y

In [ ]:
# Fazendo o fit com os dados

- Novamente utilizando a base `previsao` para fazer o predict

In [ ]:
# Importando o dataset para fazer a previsao

In [ ]:
# Retirando a coluna de embarque e gênero

In [ ]:
# Fazendo a transformação

- [Voltando](#ohe) e trocando o `handle_unknown` por "ignore"

In [ ]:
# Visualizando o nome das features geradas

In [ ]:
# Criando um DataFrame

In [ ]:
# Unindo esses valores no dataset do titanic

In [ ]:
# Excluindo a coluna Titulos

In [ ]:
# Visualizando a base

In [ ]:
# Separando X e Y

In [ ]:
# Utilizando a árvode de classificação para fazer a previsão

In [ ]:
# Visualizando essa previsão