# Lendo dados de URL e APIs com Python

## Parte 1 – Lendo um CSV de uma URL
Você pode usar `pd.read_csv()` diretamente com o link para o arquivo.

In [6]:
import pandas as pd

# Exemplo: base pública do IBGE (ajustável conforme disponibilidade)
csv_url = "https://people.sc.fsu.edu/~jburkardt/data/csv/airtravel.csv"
df_url = pd.read_csv(csv_url)
df_url.head()

  Month   "1958"   "1959"   "1960"
0   JAN      340      360      417
1   FEB      318      342      391
2   MAR      362      406      419
3   APR      348      396      461
4   MAY      363      420      472

## Parte 2 – Lendo dados de uma API com `requests`
Uma API geralmente retorna dados no formato JSON, que podemos converter em DataFrame.

In [7]:
import requests

# Exemplo: API pública de fatos sobre gatos (https://catfact.ninja)
url = "https://catfact.ninja/fact"
resposta = requests.get(url)
dados = resposta.json()
dados

{'fact': 'Unlike humans, cats are usually lefties. Studies indicate that their left paw is typically their dominant paw.',
 'length': 110}

### Transformando resposta JSON em DataFrame

In [3]:
df_api = pd.DataFrame([dados])
df_api

                                                fact  length
0  It has been scientifically proven that owning ...     149

## Extras úteis:
- Nem toda API retorna uma tabela pronta
- Às vezes você precisa navegar dentro da estrutura do JSON (listas, dicionários)
- Use `.json()` para explorar a estrutura primeiro

In [9]:
# Outro exemplo: lista de fatos (mais de um registro)
url = "https://catfact.ninja/facts"
resposta = requests.get(url)
dados = resposta.json()
dados.keys()

dict_keys(['current_page', 'data', 'first_page_url', 'from', 'last_page', 'last_page_url', 'links', 'next_page_url', 'path', 'per_page', 'prev_page_url', 'to', 'total'])

In [10]:
# Acessando os fatos
fatos = dados['data']

# Convertendo em DataFrame
df_fatos = pd.DataFrame(fatos)
df_fatos.head()

                                                fact  length
0  Unlike dogs, cats do not have a sweet tooth. S...     114
1  When a cat chases its prey, it keeps its head ...      97
2  The technical term for a cat’s hairball is a “...      54
3             A group of cats is called a “clowder.”      38
4  A cat can’t climb head first down a tree becau...     142

## Conclusão
- Você aprendeu a ler dados diretamente da internet (URLs e APIs)
- Agora consegue buscar dados em tempo real sem depender de arquivos locais
- Isso é muito útil para automações, dashboards e análises vivas.