# Volume 15

### Leitura e extração de dados

In [2]:
!pip install pandas sqlalchemy psycopg2-binary

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/weder/.local/lib/python3.10/site-packages (2.2.3)
Collecting sqlalchemy
  Downloading sqlalchemy-2.0.43-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (9.6 kB)
Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.10-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (4.9 kB)
Requirement already satisfied: numpy>=1.22.4 in /home/weder/.local/lib/python3.10/site-packages (from pandas) (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/weder/.local/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/weder/.local/lib/python3.10/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /home/weder/.local/lib/python3.10/site-packages (from pandas) (2025.1)
Collecting greenlet>=1 (from sqlalchemy)
  Downloading greenlet-3.2.4-cp310-cp310-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata (4.1 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/weder/.local/lib/python3.10/site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading sqlalchemy-2.0.43-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.2/3.2 MB 3.5 MB/s  0:00:00m0:00:0100:01
Downloading psycopg2_binary-2.9.10-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.0/3.0 MB 5.0 MB/s  0:00:00 eta 0:00:01
Downloading greenlet-3.2.4-cp310-cp310-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (584 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 584.4/584.4 kB 5.0 MB/s  0:00:00
Installing collected packages: psycopg2-binary, greenlet, sqlalchemy
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3/3 [sqlalchemy]3 [sqlalchemy]
Successfully installed greenlet-3.2.4 psycopg2-binary-2.9.10 sqlalchemy-2.0.43

In [6]:
import pandas as pd
import yfinance as yf 
from datetime import datetime

In [7]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.orm import declarative_base
from sqlalchemy import Column, Integer, String

In [8]:
acao = ["ITUB4.SA", "BBDC4.SA","BBAS3.SA","SANB11.SA","BPAC11.SA","INBR32.SA",
        "BPAN4.SA","ABCB4.SA","BAZA3.SA","BNBR3.SA","BMEB4.SA"]
dados = yf.download(tickers= acao, start = "2025-08-01", end = datetime.now()) 
dados

/tmp/ipykernel_68009/2861993593.py:3: FutureWarning: YF.download() has changed argument auto_adjust default to True
  dados = yf.download(tickers= acao, start = "2025-08-01", end = datetime.now())
[*********************100%***********************]  11 of 11 completed

Price           Close                                                          \
Ticker       ABCB4.SA   BAZA3.SA   BBAS3.SA   BBDC4.SA   BMEB4.SA    BNBR3.SA
Date
2025-08-01  21.240000  72.510002  18.350000  15.523389  41.500000   97.053070
2025-08-04  20.889999  71.839996  18.719999  15.642228  38.810001   88.598015
2025-08-05  21.230000  71.989998  18.620001  15.672194  38.849998   92.431496
2025-08-06  21.559999  71.989998  18.700001  15.652217  38.950001   92.431496
2025-08-07  21.370001  72.610001  18.910000  15.772080  39.990002   92.431496
2025-08-08  21.570000  73.989998  18.930000  15.941888  41.939999   92.431496
2025-08-11  21.680000  73.720001  19.100000  15.881955  42.000000   92.781761
2025-08-12  22.100000  72.800003  19.240000  16.251535  41.930000   92.781761
2025-08-13  21.740000  73.690002  19.280001  16.111694  42.000000   93.404457
2025-08-14  21.469999  72.589996  19.850000  15.991831  41.700001   95.350380
2025-08-15  21.930000  72.809998  20.650000  16.011808  42.950001   96.323349
2025-08-18  21.920000  72.250000  21.070000  16.331446  42.500000   96.809830
2025-08-19  21.440001  71.150002  19.799999  15.772080  41.029999   96.809830
2025-08-20  21.410000  71.150002  19.860001  15.822023  41.099998  100.156822
2025-08-21  21.200001  71.250000  19.690001  15.772080  41.939999   96.000000
2025-08-22  21.650000  71.269997  20.500000  16.291491  42.189999   96.000000
2025-08-25  21.750000  72.290001  20.049999  16.331446  42.700001   97.000000
2025-08-26  21.700001  72.709999  20.379999  16.291491  45.130001   97.989998
2025-08-27  22.000000  72.309998  20.629999  16.411354  45.029999   94.000000
2025-08-28  22.000000  73.980003  21.049999  16.770947  46.419998   94.000000
2025-08-29  22.040001  73.010002  21.389999  16.810900  45.459999   96.500000
2025-09-01  22.309999  75.610001  21.090000  16.701025  46.770000   96.750000
2025-09-02  22.610001  76.000000  20.420000  16.510000  46.599998   96.750000
2025-09-03  22.330000  78.440002  20.280001  16.500000  47.790001   96.750000
2025-09-04  22.430000  77.279999  20.420000  16.830000  47.560001   96.010002
2025-09-05  22.590000  78.209999  21.150000  17.240000  49.099998   96.010002
2025-09-08  22.540001  76.510002  20.950001  17.150000  49.099998   96.000000
2025-09-09  22.799999  79.000000  21.400000  16.990000  49.619999   96.000000
2025-09-10  22.450001  78.610001  22.049999  16.870001  48.939999   99.989998
2025-09-11  22.500000  78.110001  22.219999  17.030001  48.150002   99.989998
2025-09-12  22.740000  78.410004  22.309999  16.830000  49.720001   99.989998
2025-09-15  23.000000  78.430000  21.870001  17.030001  50.439999   99.000000
2025-09-16  22.750000  78.300003  21.940001  16.990000  49.900002   99.000000
2025-09-17  23.230000  78.330002  21.870001  17.580000  50.580002   98.500000
2025-09-18  23.160000  78.199997  22.100000  17.400000  50.150002   98.500000
2025-09-19  23.309999  77.699997  21.620001  17.709999  50.180000   97.000000
2025-09-22  22.959999  78.019997  21.510000  17.740000  50.799999   97.000000
2025-09-23  23.120001  77.489998  22.129999  17.850000  50.860001   97.000000
2025-09-24  23.139999  77.400002  22.110001  17.709999  52.959999   98.019997
2025-09-25  22.980000  76.279999  21.790001  17.570000  53.990002   98.019997
2025-09-26  23.290001  75.699997  22.110001  17.660000  55.270000  100.550003
2025-09-29        NaN        NaN  22.120001        NaN        NaN  101.000000
2025-09-30  23.510000  75.349998  22.090000  17.700001  54.389999         NaN

Price                                                 ...   Volume             \
Ticker      BPAC11.SA BPAN4.SA  INBR32.SA   ITUB4.SA  ... BAZA3.SA   BBAS3.SA
Date                                                  ...
2025-08-01  38.491035     7.73  35.970001  34.577972  ...   4800.0   91196200
2025-08-04  38.589554     7.57  36.189999  34.944244  ...   8300.0   54775000
2025-08-05  38.628960     7.55  36.060001  35.330311  ...   1000.0   38162300
2025-08-06  39.229923     7.50  40.340000  35.775780  ...   2800.0   34102000
2025-08-07  39.692959     7.54  41.990002  36.409328  ...   3300.0   30090000
2025-08-08  40.155991     7.45  42.240002  36.656807  ...   4900.0   38600300
2025-08-11  40.020000     7.65  42.290001  36.884487  ...   2200.0   21789700
2025-08-12  45.270000     7.92  44.209999  37.646732  ...   5400.0   26665200
2025-08-13  44.299999     8.15  43.500000  37.290356  ...  11200.0   33738000
2025-08-14  44.509998     8.37  43.880001  37.240864  ...   6700.0   70251100
2025-08-15  44.450001     8.25  43.549999  37.112175  ...   7300.0  131820200
2025-08-18  45.070000     8.13  43.990002  37.379452  ...   4300.0   59254100
2025-08-19  43.500000     7.80  41.669998  36.293350  ...   5900.0   58349400
2025-08-20  43.020000     7.73  42.639999  36.313343  ...   2600.0   38402300
2025-08-21  42.610001     7.73  42.700001  36.353321  ...   5500.0   34799500
2025-08-22  43.299999     7.85  43.639999  37.372856  ...   6000.0   38192400
2025-08-25  43.250000     7.78  44.279999  37.182941  ...  13000.0   24054000
2025-08-26  43.049999     7.77  44.250000  36.933056  ...   5400.0   35682300
2025-08-27  44.029999     7.75  45.130001  37.552773  ...   7600.0   43263600
2025-08-28  44.500000     7.78  46.279999  38.332413  ...  12500.0   29893700
2025-08-29  44.860001     7.74  46.200001  38.472351  ...   4400.0   31255300
2025-09-01  44.419998     7.72  46.080002  38.779999  ...  11100.0   17070500
2025-09-02  44.500000     7.70  45.740002  38.119999  ...  20300.0   46246800
2025-09-03  44.299999     7.72  45.770000  37.790001  ...  15300.0   27313600
2025-09-04  45.400002     7.77  46.000000  37.939999  ...   8100.0   30302400
2025-09-05  46.270000     7.90  47.290001  38.360001  ...  11000.0   40453000
2025-09-08  45.470001     7.86  47.099998  38.180000  ...   4200.0   41757900
2025-09-09  45.560001     7.90  47.259998  37.849998  ...   4200.0   36226500
2025-09-10  45.610001     8.00  47.580002  37.880001  ...   5800.0   69024000
2025-09-11  46.369999     8.08  48.200001  37.950001  ...   4100.0   41313800
2025-09-12  45.549999     8.10  47.529999  37.380001  ...   1400.0   39368300
2025-09-15  45.869999     8.05  47.500000  38.000000  ...   1900.0   36708800
2025-09-16  46.040001     8.00  47.250000  37.900002  ...   4100.0   23706000
2025-09-17  46.700001     7.96  47.860001  38.439999  ...   4600.0   39196600
2025-09-18  46.750000     7.86  47.139999  38.490002  ...   1800.0   35973700
2025-09-19  47.490002     8.08  46.529999  39.000000  ...   2700.0   49988600
2025-09-22  47.150002     8.03  48.169998  38.439999  ...   9700.0   29380400
2025-09-23  47.810001     8.14  50.020000  39.049999  ...   9900.0   84333800
2025-09-24  47.830002     7.92  49.310001  38.790001  ...   2400.0   29027100
2025-09-25  47.349998     7.89  48.090000  38.480000  ...   6600.0   28793600
2025-09-26  48.040001     7.83  48.619999  38.669998  ...  15300.0   15230100
2025-09-29        NaN     7.85  49.000000  38.889999  ...      NaN   17908100
2025-09-30  48.310001     7.81  48.750000  38.880001  ...   6500.0   10319200

Price                                                                    \
Ticker        BBDC4.SA BMEB4.SA BNBR3.SA   BPAC11.SA BPAN4.SA INBR32.SA
Date
2025-08-01  30228600.0  17900.0    100.0   4618300.0   825600   3100909
2025-08-04  25590900.0  21600.0    600.0   3932900.0  1113200   1276699
2025-08-05  31469200.0  12600.0    100.0   4681300.0   582000   1839837
2025-08-06  24917500.0  38100.0      0.0  13498200.0  1133000   9583714
2025-08-07  27653400.0   8300.0      0.0   5940600.0  1916200   4106873
2025-08-08  25120200.0  14100.0      0.0  11263900.0   760800   1187938
2025-08-11  13742600.0  10800.0    100.0   5105400.0  5033400   1105915
2025-08-12  31596100.0  11300.0      0.0  40024200.0  3235200   3293022
2025-08-13  29193000.0  14600.0    100.0  15450400.0  4655200   5199416
2025-08-14  29789000.0   9300.0   1800.0   7705600.0  4635300   3896392
2025-08-15  20291000.0  17900.0    500.0   7071800.0  1744300   2341707
2025-08-18  42207700.0  15000.0   1300.0   8717900.0  2756700   1382029
2025-08-19  44185500.0  12500.0   1100.0   7315500.0  1551000   2503451
2025-08-20  31984600.0  16500.0   3400.0   5873700.0  1299300   2784040
2025-08-21  26082100.0  21400.0    800.0   7563000.0   452100   1384570
2025-08-22  36922300.0  24800.0    200.0  19733400.0   809400   1953538
2025-08-25  24075600.0  10900.0    300.0   4902900.0   753900   1462345
2025-08-26  37241300.0  52200.0    200.0   4472800.0  1596100   1846773
2025-08-27  20684700.0  21900.0    500.0   5632600.0  1223600   3241731
2025-08-28  32140300.0  35500.0      0.0   8611700.0  1323800   2193249
2025-08-29  32575000.0  18100.0    100.0  10425500.0  1756800    941013
2025-09-01  13494400.0  22100.0    100.0   2485800.0   358200    628928
2025-09-02  25223800.0  12900.0      0.0   7235200.0  1754600   1051457
2025-09-03  18858600.0  29200.0      0.0   7430000.0  1279200    643044
2025-09-04  22151800.0  24900.0    600.0   6909800.0   973300   1478323
2025-09-05  31586500.0  20700.0      0.0   6882000.0   583400   2384658
2025-09-08  21367000.0  20000.0    100.0   8082400.0   455100   1053565
2025-09-09  23027600.0  25500.0      0.0   5057000.0   423900    766603
2025-09-10  26745800.0  25100.0    800.0  15471400.0   803500    867264
2025-09-11  44461600.0  16900.0      0.0   7180900.0  1115400    940789
2025-09-12  26449500.0  18200.0      0.0   6734700.0  1529300   1360978
2025-09-15  28565000.0  14800.0    600.0   6509400.0   822800   1158665
2025-09-16  27075700.0  20300.0      0.0   6169000.0   626600   3996078
2025-09-17  44010600.0  26000.0    400.0   8736400.0   885000   2906461
2025-09-18  25877600.0  12300.0      0.0   5922200.0   744200   2354021
2025-09-19  51887400.0  12400.0    200.0   9928000.0   900000   1224689
2025-09-22  31295400.0  24300.0      0.0   4744300.0  1447100   1906019
2025-09-23  31896600.0  15100.0      0.0   4461500.0   802200   2152416
2025-09-24  24592400.0  16800.0    200.0   7463600.0  5208600   1488018
2025-09-25  22322600.0  20800.0      0.0   5263200.0  2089300   1818363
2025-09-26  17781600.0  33500.0    100.0   3814800.0   643900    938999
2025-09-29         NaN      NaN      0.0         NaN   858000   1810654
2025-09-30  14603300.0   7200.0      NaN   3636700.0   569000    533495

Price
Ticker      ITUB4.SA  SANB11.SA
Date
2025-08-01  16018100  2667200.0
2025-08-04  16922400  1772500.0
2025-08-05  48243500  1739700.0
2025-08-06  39958600   978500.0
2025-08-07  26104200  1257400.0
2025-08-08  17795400  1104800.0
2025-08-11  22034200  1421800.0
2025-08-12  27002700  2242900.0
2025-08-13  21959700  2778500.0
2025-08-14  26037600  1900200.0
2025-08-15  18959200  1440600.0
2025-08-18  21027800  1665800.0
2025-08-19  39629100  3155200.0
2025-08-20  16402800  2502800.0
2025-08-21  15677300  2483300.0
2025-08-22  31672900  1411000.0
2025-08-25  10741800  1488200.0
2025-08-26  21444900  1674300.0
2025-08-27  12245600  1807900.0
2025-08-28  24434900  3671200.0
2025-08-29  31651400  2904900.0
2025-09-01  14430300  1168400.0
2025-09-02  23649200  1389300.0
2025-09-03  20083600  3670900.0
2025-09-04  15414800  4119100.0
2025-09-05  15208100  4593400.0
2025-09-08  11456500  2676500.0
2025-09-09  18929300  1563400.0
2025-09-10  14094300  1614100.0
2025-09-11  17552400  1829700.0
2025-09-12  21931800  1475700.0
2025-09-15  13782700   972300.0
2025-09-16  19411200  1912000.0
2025-09-17  24491600  4355200.0
2025-09-18  14983500  1585400.0
2025-09-19  25925100  2597000.0
2025-09-22  17791300  2695700.0
2025-09-23  16437000  2692400.0
2025-09-24  18168400  2181000.0
2025-09-25  14705600  1799800.0
2025-09-26  12414500  2916600.0
2025-09-29  18567400        NaN
2025-09-30  14859500   935700.0

[43 rows x 55 columns]

In [11]:
import yfinance as yf
import pandas as pd
from sqlalchemy import create_engine
from datetime import datetime

# --- 1. BAIXAR OS DADOS (Seu código original) ---
acao = ["ITUB4.SA", "BBDC4.SA","BBAS3.SA","SANB11.SA","BPAC11.SA","INBR32.SA",
        "BPAN4.SA","ABCB4.SA","BAZA3.SA","BNBR3.SA","BMEB4.SA"]
        
print("Baixando dados do Yahoo Finance...")
dados_brutos = yf.download(tickers=acao, start="2025-08-01", end=datetime.now(), auto_adjust=False)

print("Transformando os dados...")
# O método .stack() move o nível mais interno das colunas (os tickers) para o índice
# Isso transforma o DataFrame para o formato que precisamos
dados_long = dados_brutos.stack()

# O índice agora tem dois níveis: 'Date' e 'Ticker'. Vamos transformá-los em colunas.
dados_long.reset_index(inplace=True)

# --- 3. AJUSTAR OS NOMES DAS COLUNAS PARA CORRESPONDER À TABELA SQL ---
# É uma boa prática renomear as colunas para evitar ambiguidades e erros.
dados_para_db = dados_long.rename(columns={
    "Date": "data",
    "Ticker": "ticker",
    "Open": "abertura",
    "High": "maxima",
    "Low": "minima",
    "Close": "fechamento",
    "Adj Close": "fech_ajustado",
    "Volume": "volume"
})

print("Estrutura final dos dados a serem inseridos:")
print(dados_para_db.head())

# --- 4. INSERIR OS DADOS NO BANCO DE DADOS ---

# Substitua com as suas credenciais do PostgreSQL
db_user = "postgres"
db_password = "Postgres#2025"
db_name = "postgres"
db_host = "database-2-instance-1-us-east-1b.c0yfkem8zjdw.us-east-1.rds.amazonaws.com"
db_port = 5432

# Crie a URL de conexão e o 'engine' da SQLAlchemy
db_url = f'postgresql+psycopg2://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}'
engine = create_engine(db_url)

print("\nInserindo dados na tabela 'historico_acoes'...")
try:
    # Use o método .to_sql() para inserir o DataFrame na tabela
    # if_exists='append': Adiciona os novos dados. Não apaga os que já existem.
    # index=False: Não tenta inserir o índice do DataFrame como uma coluna no SQL.
    dados_para_db.to_sql(
        'historico_acoes', 
        con=engine, 
        if_exists='append', 
        index=False,
        chunksize=1000 # Opcional: insere os dados em lotes para melhor performance
    )
    print("Dados inseridos com sucesso! ✅")

except Exception as e:
    print(f"Ocorreu um erro ao inserir os dados: {e}")

Baixando dados do Yahoo Finance...

[*********************100%***********************]  11 of 11 completed
/tmp/ipykernel_68009/3922814431.py:16: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  dados_long = dados_brutos.stack()

Transformando os dados...
Estrutura final dos dados a serem inseridos:
Price       data    ticker  fech_ajustado  fechamento     maxima     minima  \
0     2025-08-01  ABCB4.SA      21.240000   21.240000  21.930000  21.100000
1     2025-08-01  BAZA3.SA      72.510002   72.510002  72.510002  70.949997
2     2025-08-01  BBAS3.SA      18.350000   18.350000  20.000000  18.120001
3     2025-08-01  BBDC4.SA      15.523389   15.560000  15.850000  15.510000
4     2025-08-01  BMEB4.SA      41.500000   41.500000  41.500000  38.000000

Price   abertura      volume
0      21.580000    508000.0
1      72.290001      4800.0
2      19.900000  91196200.0
3      15.710000  30228600.0
4      38.599998     17900.0

Inserindo dados na tabela 'historico_acoes'...
Dados inseridos com sucesso! ✅

In [4]:
user = "postgres"
senha = "Postgres#2025"
banco_de_dados = "postgres"
host = "database-2-instance-1.c0yfkem8zjdw.us-east-1.rds.amazonaws.com"
porta = 5432

conexao = create_engine(url=f"postgresql+psycopg2://{user}:{senha}@{host}:{porta}/{banco_de_dados}")

In [ ]:
Banco_de_dados = declarative_base()

class User(Banco_de_dados):

    __tablename__ = 'price'

    id = Column(Integer, primary_key=True, autoincrement=True)
    empresas = Column(String(50))
    cotacao = Column(Integer)


Banco_de_dados.metadata.create_all(conexao)

In [4]:
#colocar dados na tabela com o pandas

nome_tabela = 'price'
df_teste = pd.DataFrame({"empresas": ['WEGE3', 'PCAR4', 'PETR4'],
                       "cotacao": [20, 30, 40]}, index = pd.date_range("2022-01-01", periods = 3))

df_teste.to_sql(nome_tabela, conexao, index=False, if_exists='append')

3

In [5]:
#como ler dados do SQL com o pandas?

nome_tabela = 'price'
comando_sql = f"SELECT * FROM {nome_tabela};" #tem que saber SQL
df = pd.read_sql(comando_sql,con=conexao)

df

   id empresas  cotacao
0   1    WEGE3       20
1   2    PCAR4       30
2   3    PETR4       40

# Volume 16

Ta, você já aprendeu a ler dados com o Pandas. Agora vamos aprender a limpar e preparar esses dados pras nossas análises, começando por tirar dados faltantes das nossas tabelas?