# Volume IV
### Introdução ao Pandas

In [ ]:
import pandas as pd

In [ ]:
df_cambio = pd.DataFrame({
    "moeda": ['dolar/real', 'libra/real'] * 2,
    "price": [5.24, 4.15, 5.26, 4.23],
    "data": sorted(list(pd.date_range("1/5/2014", periods = 2)) * 2)
})

df_cambio

In [ ]:
#Como trocar o nome das colunas 

df_cambio.columns

df_cambio.columns = ['moeda', 'cotacao', 'data']

df_cambio

In [ ]:
#como selecionar colunas 

cotacao = df_cambio['cotacao'] #te devolve uma serie

cotacao
df_cambio.cotacao #pode selecionar colunas assim tambem

In [ ]:
#2 colunas
cotacao_e_data = df_cambio[['cotacao', 'data']] #lista dentro da lista

print(cotacao_e_data)

#vantagem da data como indice

df_cambio = df_cambio.set_index("data")

cotacao = df_cambio['cotacao'] 

cotacao

In [ ]:
#selecionando colunas por condições

cambio_menor_que_5 = df_cambio[df_cambio['cotacao'] < 5]

print(cambio_menor_que_5)

#selecionando o cambio

cambio_dolar = df_cambio[df_cambio['moeda'] == 'dolar/real']

cambio_dolar

In [ ]:
#selecionando duas condições ao mesmo tempo (operadores & e |)

#dolar e maior que 5.25
cambio_dolar_e_maior_que_525 = df_cambio[(df_cambio['moeda'] == 'dolar/real') &
                                                      (df_cambio['cotacao'] > 5.25)]

print(cambio_dolar_e_maior_que_525)

#libra ou maior que 5.25
cambio_libra_ou_maior_que_525 = df_cambio[(df_cambio['moeda'] == 'libra/real') |
                                                      (df_cambio['cotacao'] > 5.25)]

print(cambio_libra_ou_maior_que_525)


#podemos filtrar o indice também

#libra no dia 5 de janeiro de 2014

libra_5_jan = df_cambio[(df_cambio['moeda'] == 'libra/real') &
                        (df_cambio.index == "2014-01-05")]

libra_5_jan

# Exercícios

* Exercício 40: Mude o nome da coluna do dataframe do exercício 39 de "cotacoes" para "precos".
* Exercício 41: Selecione a coluna de preços do dataframe estudado.
* Exercício 42: Selecione as duas últimas colunas do dataframe estudado.
* Exercício 43: Selecione as informações da Petrobras no dataframe estudado.
* Exercício 44: Selecione apenas empresas com P/L menor que 20.
* Exercício 45: Selecione empresas com P/L maior que 10 e volume maior que 2000.
* Exercício 46: Selecione empresas que a cotação seja maior que 20 ou o volume é maior que 4000.

In [13]:
#gabarito 40

dicionario = {
       "nomes": ["Weg", "Petrobras", "Vale", "Petrobras", "Lojas Renner"],
       "tickers": ["WEGE3", "PETR3", "VALE3", "PETR4", "LREN3"],  
       "cotacoes": [20, 30, 40, 12, 35],
       "preco_sobre_lucro": [25, 6, 12, 7, 25],  
       "volume": [5000, 1000, 4000, 7000, 1200]
}

df_info_empresas = pd.DataFrame(dicionario)

df_info_empresas = df_info_empresas.set_index("tickers")

df_info_empresas.columns = ['nomes', 'precos', 'preco_sobre_lucro', 'volume']

df_info_empresas

                nomes  precos  preco_sobre_lucro  volume
tickers
WEGE3             Weg      20                 25    5000
PETR3       Petrobras      30                  6    1000
VALE3            Vale      40                 12    4000
PETR4       Petrobras      12                  7    7000
LREN3    Lojas Renner      35                 25    1200

In [14]:
#gabarito 41

precinho = df_info_empresas['precos']
precinho

tickers
WEGE3    20
PETR3    30
VALE3    40
PETR4    12
LREN3    35
Name: precos, dtype: int64

In [15]:
#gabarito 42

pl_e_volume = df_info_empresas[['preco_sobre_lucro', 'volume']]
pl_e_volume

         preco_sobre_lucro  volume
tickers
WEGE3                   25    5000
PETR3                    6    1000
VALE3                   12    4000
PETR4                    7    7000
LREN3                   25    1200

In [16]:
#gabarito 43

petrobras = df_info_empresas[df_info_empresas['nomes'] == "Petrobras"]
petrobras

             nomes  precos  preco_sobre_lucro  volume
tickers
PETR3    Petrobras      30                  6    1000
PETR4    Petrobras      12                  7    7000

In [17]:
#gabarito 44

pl_menor_20 = df_info_empresas[df_info_empresas['preco_sobre_lucro'] < 20]
pl_menor_20

             nomes  precos  preco_sobre_lucro  volume
tickers
PETR3    Petrobras      30                  6    1000
VALE3         Vale      40                 12    4000
PETR4    Petrobras      12                  7    7000

In [18]:
#gabarito 45 

pl_maior_10_e_volume_maior_2000 = df_info_empresas[(df_info_empresas['preco_sobre_lucro'] > 10) &
                                                      (df_info_empresas['volume'] > 2000)]
pl_maior_10_e_volume_maior_2000

        nomes  precos  preco_sobre_lucro  volume
tickers
WEGE3     Weg      20                 25    5000
VALE3    Vale      40                 12    4000

In [20]:
#gabarito 46

cotacao_20_e_volume_maior_4000 = df_info_empresas[(df_info_empresas['precos'] > 20) |
                                                      (df_info_empresas['volume'] > 7000)]
cotacao_20_e_volume_maior_4000

                nomes  precos  preco_sobre_lucro  volume
tickers
PETR3       Petrobras      30                  6    1000
VALE3            Vale      40                 12    4000
LREN3    Lojas Renner      35                 25    1200

# Mundo 5

Agora que você aprendeu como manipular colunas, chegou a hora de aprender a selecionar dados dentro da tabela. Como pegar um dado específico, como o preço da Weg em algum dia específico?