# Volume 03
### Introdução ao Pandas

In [1]:
import pandas as pd

In [2]:
#como criar um indice

serie = pd.Series(["Brasil", "França", "Austrália"], 
                  index = ["America_do_sul", "Europa", "Oceania"])

print(serie.index) #-> acessar a partir do atributo
serie.index[1]

Index(['America_do_sul', 'Europa', 'Oceania'], dtype='object')

'Europa'

In [ ]:
import pandas as pd
# Criando um DataFrame com dados de bancos
dados_bancos = {
    'ticker': ['ITUB4', 'BBDC4', 'BBAS3', 'SANB11'],
    'banco': ['Itaú Unibanco', 'Bradesco', 'Banco do Brasil', 'Santander'],
    'lucro_bi_2023': [35.6, 14.5, 35.5, 9.4] 
    # Lucro em Bilhões de Reais (valores aproximados para ilustração)
}
df_bancos = pd.DataFrame(dados_bancos)
print("--- DataFrame Original de Bancos ---")
print(df_bancos)
print("\nÍndice original:", df_bancos.index)

--- DataFrame Original de Bancos ---
   ticker            banco  lucro_bi_2023
0   ITUB4    Itaú Unibanco           35.6
1   BBDC4         Bradesco           14.5
2   BBAS3  Banco do Brasil           35.5
3  SANB11        Santander            9.4

Índice original: RangeIndex(start=0, stop=4, step=1)

In [12]:
# --- Exemplo 1: Comportamento Padrão (inplace=False, drop=True) ---
# A coluna 'ticker' vira o índice e é removida das colunas.
# O df_bancos original não é modificado.
df_bancos_novo_indice = df_bancos.set_index('ticker')

print("\n--- Novo DataFrame (comportamento padrão) ---")
print(df_bancos_novo_indice)
print("\nÍndice novo:", df_bancos_novo_indice.index)

--- Novo DataFrame (comportamento padrão) ---
                  banco  lucro_bi_2023
ticker
ITUB4     Itaú Unibanco           35.6
BBDC4          Bradesco           14.5
BBAS3   Banco do Brasil           35.5
SANB11        Santander            9.4

Índice novo: Index(['ITUB4', 'BBDC4', 'BBAS3', 'SANB11'], dtype='object', name='ticker')

In [17]:
# --- Exemplo 2: Modificando o DataFrame Original (inplace=True, drop=False) ---
# A coluna 'ticker' vira o índice, MAS TAMBÉM é mantida como coluna.
# A alteração é feita diretamente no 'df_bancos'.
df_bancos.set_index('ticker', inplace=True, drop=False)

print("\n--- DataFrame Original Modificado (inplace=True, drop=False) ---")
print(df_bancos)
print("\nÍndice do DF original agora:", df_bancos.index)

--- DataFrame Original Modificado (inplace=True, drop=False) ---
        ticker            banco  lucro_bi_2023
ticker
ITUB4    ITUB4    Itaú Unibanco           35.6
BBDC4    BBDC4         Bradesco           14.5
BBAS3    BBAS3  Banco do Brasil           35.5
SANB11  SANB11        Santander            9.4

Índice do DF original agora: Index(['ITUB4', 'BBDC4', 'BBAS3', 'SANB11'], dtype='object', name='ticker')

In [20]:
#como criar um novo index, do zero ou de forma aleatória
df_bancos = pd.DataFrame(dados_bancos)
df_new_bancos = df_bancos.reset_index()

print(df_new_bancos)

df_new_bancos.index = ['I', 'B', 'BB','S']

df_new_bancos

   index  ticker            banco  lucro_bi_2023
0      0   ITUB4    Itaú Unibanco           35.6
1      1   BBDC4         Bradesco           14.5
2      2   BBAS3  Banco do Brasil           35.5
3      3  SANB11        Santander            9.4

    index  ticker            banco  lucro_bi_2023
I       0   ITUB4    Itaú Unibanco           35.6
B       1   BBDC4         Bradesco           14.5
BB      2   BBAS3  Banco do Brasil           35.5
S       3  SANB11        Santander            9.4

In [21]:
import pandas as pd

# 1. Criando nosso DataFrame e definindo 'ticker' como índice
dados_bancos = {
    'ticker': ['ITUB4', 'BBDC4', 'BBAS3'],
    'banco': ['Itaú Unibanco', 'Bradesco', 'Banco do Brasil'],
    'lucro_bi_2023': [35.6, 14.5, 35.5]
}
df_bancos = pd.DataFrame(dados_bancos).set_index('ticker')

print("--- DataFrame Original com Índice 'ticker' ---")
print(df_bancos)

# --- Exemplo 1: Comportamento Padrão (drop=False) ---
# O índice 'ticker' vira uma coluna e um novo índice numérico é criado.
df_resetado = df_bancos.reset_index()

print("\n--- DataFrame após reset_index() padrão ---")
print(df_resetado)


# --- Exemplo 2: Descartando o Índice com drop=True ---
# O índice 'ticker' é completamente removido.
df_com_drop = df_bancos.reset_index(drop=True)

print("\n--- DataFrame após reset_index(drop=True) ---")
print(df_com_drop)

--- DataFrame Original com Índice 'ticker' ---
                  banco  lucro_bi_2023
ticker
ITUB4     Itaú Unibanco           35.6
BBDC4          Bradesco           14.5
BBAS3   Banco do Brasil           35.5

--- DataFrame após reset_index() padrão ---
  ticker            banco  lucro_bi_2023
0  ITUB4    Itaú Unibanco           35.6
1  BBDC4         Bradesco           14.5
2  BBAS3  Banco do Brasil           35.5

--- DataFrame após reset_index(drop=True) ---
             banco  lucro_bi_2023
0    Itaú Unibanco           35.6
1         Bradesco           14.5
2  Banco do Brasil           35.5

In [5]:
#como criar um range de data como um indice

quatro_dias = pd.date_range("1/4/2000", periods = 4)

print(quatro_dias)

fim_mes = pd.date_range(start = "1/1/2000", end = "31/12/2000", freq = "M")

fim_mes

DatetimeIndex(['2000-01-04', '2000-01-05', '2000-01-06', '2000-01-07'], dtype='datetime64[ns]', freq='D')

/tmp/ipykernel_325870/245816401.py:7: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  fim_mes = pd.date_range(start = "1/1/2000", end = "31/12/2000", freq = "M")

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-30',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-30', '2000-10-31', '2000-11-30', '2000-12-31'],
              dtype='datetime64[ns]', freq='ME')

In [6]:
fim_mes_weg = pd.date_range(start = "1/1/2000", end = "30/4/2000", freq = "M")

print(fim_mes_weg)

dicionario = {"cotacao": [20.54, 20, 21, 22]}
              
cotacao_weg = pd.DataFrame(dicionario, index = fim_mes_weg)

print(cotacao_weg)

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-30'], dtype='datetime64[ns]', freq='ME')
            cotacao
2000-01-31    20.54
2000-02-29    20.00
2000-03-31    21.00
2000-04-30    22.00

/tmp/ipykernel_325870/2713522762.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  fim_mes_weg = pd.date_range(start = "1/1/2000", end = "30/4/2000", freq = "M")

In [7]:
cotacao_weg[cotacao_weg.index > "2000-02-25"]

            cotacao
2000-02-29     20.0
2000-03-31     21.0
2000-04-30     22.0

In [26]:
import pandas as pd
import numpy as np

# Exemplo 1: Definindo início e fim (frequência diária padrão)
idx1 = pd.date_range(start='2025-01-01', end='2025-01-07')
print("--- Exemplo 1: Início e Fim ---")
print(idx1)

# Exemplo 2: Definindo início e número de períodos
idx2 = pd.date_range(start='2025-09-01', periods=5)
print("\n--- Exemplo 2: Início e Períodos ---")
print(idx2)

# Exemplo 3: Usando frequência de dias úteis ('B')
# Note como ele pula o fim de semana (27 e 28 de Setembro de 2025)
idx3 = pd.date_range(start='2025-09-26', periods=5, freq='B')
print("\n--- Exemplo 3: Frequência de Dias Úteis ('B') ---")
print(idx3)

# Exemplo 4: Usando frequência de início de mês ('MS')
idx4 = pd.date_range(start='2025-01-01', periods=4, freq='MS')
print("\n--- Exemplo 4: Frequência Mensal ('MS') ---")
print(idx4)

# Exemplo 5: Frequência de 8 em 8 horas com fuso horário
# Usando a data e hora atuais como referência
idx5 = pd.date_range(start='2025-09-23 00:00', periods=5, freq='8H', tz='America/Sao_Paulo')
print("\n--- Exemplo 5: Frequência de Horas e Fuso Horário ---")
print(idx5)

# Exemplo 6: Criando um DataFrame com um DatetimeIndex
cotacoes = np.random.randn(len(idx1))
df_cotacoes = pd.DataFrame(cotacoes, index=idx1, columns=['Variacao'])
print("\n--- DataFrame com DatetimeIndex ---")
print(df_cotacoes)

--- Exemplo 1: Início e Fim ---
DatetimeIndex(['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04',
               '2025-01-05', '2025-01-06', '2025-01-07'],
              dtype='datetime64[ns]', freq='D')

--- Exemplo 2: Início e Períodos ---
DatetimeIndex(['2025-09-01', '2025-09-02', '2025-09-03', '2025-09-04',
               '2025-09-05'],
              dtype='datetime64[ns]', freq='D')

--- Exemplo 3: Frequência de Dias Úteis ('B') ---
DatetimeIndex(['2025-09-26', '2025-09-29', '2025-09-30', '2025-10-01',
               '2025-10-02'],
              dtype='datetime64[ns]', freq='B')

--- Exemplo 4: Frequência Mensal ('MS') ---
DatetimeIndex(['2025-01-01', '2025-02-01', '2025-03-01', '2025-04-01'], dtype='datetime64[ns]', freq='MS')

--- Exemplo 5: Frequência de Horas e Fuso Horário ---
DatetimeIndex(['2025-09-23 00:00:00-03:00', '2025-09-23 08:00:00-03:00',
               '2025-09-23 16:00:00-03:00', '2025-09-24 00:00:00-03:00',
               '2025-09-24 08:00:00-03:00'],
              dtype='datetime64[ns, America/Sao_Paulo]', freq='8h')

--- DataFrame com DatetimeIndex ---
            Variacao
2025-01-01 -0.101525
2025-01-02 -0.338621
2025-01-03 -0.505662
2025-01-04  0.648598
2025-01-05 -0.294643
2025-01-06 -1.337514
2025-01-07 -0.927342

/tmp/ipykernel_325870/2031063870.py:27: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  idx5 = pd.date_range(start='2025-09-23 00:00', periods=5, freq='8H', tz='America/Sao_Paulo')

In [23]:
import pandas as pd
dicionario_bancos = {
    "ticker": ["ITUB4", "BBDC4", "BBAS3"], 
    "nome": ["Itau", "Bradesco", "Banco do Brasil"],
    "cotacao": [32.50, 14.80, 55.10], 
    "segmento": ["Privado", "Privado", "Estatal"]
}

dataframe_bancos = pd.DataFrame(dicionario_bancos)
dataframe_bancos = dataframe_bancos.set_index(["ticker", "nome"])
print(f'DataFrame de Bancos antes das modificações:\n{dataframe_bancos}')

dataframe_bancos = dataframe_bancos.reset_index(
    level=["ticker", "nome"], 
    names=['codigo', 'banco'], 
    allow_duplicates=True
)
print(f'\nDataFrame de Bancos após as modificações:\n{dataframe_bancos}')

DataFrame de Bancos antes das modificações:
                        cotacao segmento
ticker nome
ITUB4  Itau                32.5  Privado
BBDC4  Bradesco            14.8  Privado
BBAS3  Banco do Brasil     55.1  Estatal

DataFrame de Bancos após as modificações:
  codigo            banco  cotacao segmento
0  ITUB4             Itau     32.5  Privado
1  BBDC4         Bradesco     14.8  Privado
2  BBAS3  Banco do Brasil     55.1  Estatal

# Exercícios

* Exercício 37: Crie um dataframe que as colunas tenham informações fictícias de cotações, volumes e a data de cada dado. Utilize pd.date_range para criar a coluna de datas.
* Exercício 38: Converta a coluna "datas" para índice. 
* Exercício 39: Converta a coluna "tickers" do dataframe do exercício 36 como índice.

In [8]:
#Gabarito 37

dicionario = {"cotacao": [20, 21, 22], 
              "volume":[100, 200, 5000], 
              "data": pd.date_range("1/4/2000", periods = 3)}

df_dados = pd.DataFrame(dicionario)
df_dados

   cotacao  volume       data
0       20     100 2000-01-04
1       21     200 2000-01-05
2       22    5000 2000-01-06

In [9]:
#gabarito 38

df_dados = df_dados.set_index("data")
df_dados

            cotacao  volume
data
2000-01-04       20     100
2000-01-05       21     200
2000-01-06       22    5000

In [10]:
#gabarito 39

dicionario = {
       "nomes": ["Weg", "Petrobras", "Vale", "Petrobras", "Lojas Renner"],
       "tickers": ["WEGE3", "PETR3", "VALE3", "PETR4", "LREN3"],  
       "cotacoes": [20, 30, 40, 12, 35],
       "preco_sobre_lucro": [25, 6, 12, 7, 25],  
       "volume": [5000, 1000, 4000, 7000, 1200]
}

df_info_empresas = pd.DataFrame(dicionario)

df_info_empresas = df_info_empresas.set_index("tickers")

df_info_empresas

                nomes  cotacoes  preco_sobre_lucro  volume
tickers
WEGE3             Weg        20                 25    5000
PETR3       Petrobras        30                  6    1000
VALE3            Vale        40                 12    4000
PETR4       Petrobras        12                  7    7000
LREN3    Lojas Renner        35                 25    1200

# Mundo 4

Agora que você aprendeu a criar e editar índices, chegou a hora de ver a outra dimensão do dataframe: Colunas!