# Volume III
### Introdução ao Pandas

In [10]:
import pandas as pd

In [11]:
#como criar um indice

serie = pd.Series(["Brasil", "França", "Austrália"], 
                  index = ["America_do_sul", "Europa", "Oceania"])

print(serie.index) #-> acessar a partir do atributo
serie.index[1]

Index(['America_do_sul', 'Europa', 'Oceania'], dtype='object')

'Europa'

In [13]:
#como colocar uma coluna como indice

dicionario = {"empresa": ["Weg", "Petrobras", "Vale"], "cotacao": [20.54, 20, 40]}

dataframe = pd.DataFrame(dicionario)

print(dataframe)

dataframe = dataframe.set_index("empresa")

dataframe

     empresa  cotacao
0        Weg    20.54
1  Petrobras    20.00
2       Vale    40.00

cotacao    20.54
Name: Weg, dtype: float64

In [14]:
#como criar um novo index, do zero ou de forma aleatória

dataframe = dataframe.reset_index()

print(dataframe)

dataframe.index = ['a', 'b', 'c']

dataframe

     empresa  cotacao
0        Weg    20.54
1  Petrobras    20.00
2       Vale    40.00

     empresa  cotacao
a        Weg    20.54
b  Petrobras    20.00
c       Vale    40.00

In [15]:
#como criar um range de data como um indice

quatro_dias = pd.date_range("1/4/2000", periods = 4)

print(quatro_dias)

fim_mes = pd.date_range(start = "1/1/2000", end = "31/12/2000", freq = "M")

fim_mes

DatetimeIndex(['2000-01-04', '2000-01-05', '2000-01-06', '2000-01-07'], dtype='datetime64[ns]', freq='D')

C:\Users\lsiqu\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3369: UserWarning: Parsing '31/12/2000' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  exec(code_obj, self.user_global_ns, self.user_ns)

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-30',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-30', '2000-10-31', '2000-11-30', '2000-12-31'],
              dtype='datetime64[ns]', freq='M')

In [16]:
fim_mes_weg = pd.date_range(start = "1/1/2000", end = "30/4/2000", freq = "M")

print(fim_mes_weg)

dicionario = {"cotacao": [20.54, 20, 21, 22]}
              
cotacao_weg = pd.DataFrame(dicionario, index = fim_mes_weg)

print(cotacao_weg)

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-30'], dtype='datetime64[ns]', freq='M')
            cotacao
2000-01-31    20.54
2000-02-29    20.00
2000-03-31    21.00
2000-04-30    22.00

In [17]:
cotacao_weg[cotacao_weg.index > "2000-02-25"]

            cotacao
2000-02-29     20.0
2000-03-31     21.0
2000-04-30     22.0

# Exercícios

* Exercício 37: Crie um dataframe que as colunas tenham informações fictícias de cotações, volumes e a data de cada dado. Utilize pd.date_range para criar a coluna de datas.
* Exercício 38: Converta a coluna "datas" para índice. 
* Exercício 39: Converta a coluna "tickers" do dataframe do exercício 36 como índice.

In [18]:
#Gabarito 37

dicionario = {"cotacao": [20, 21, 22], 
              "volume":[100, 200, 5000], 
              "data": pd.date_range("1/4/2000", periods = 3)}

df_dados = pd.DataFrame(dicionario)
df_dados

   cotacao  volume       data
0       20     100 2000-01-04
1       21     200 2000-01-05
2       22    5000 2000-01-06

In [19]:
#gabarito 38

df_dados = df_dados.set_index("data")
df_dados

            cotacao  volume
data
2000-01-04       20     100
2000-01-05       21     200
2000-01-06       22    5000

In [20]:
#gabarito 39

dicionario = {
       "nomes": ["Weg", "Petrobras", "Vale", "Petrobras", "Lojas Renner"],
       "tickers": ["WEGE3", "PETR3", "VALE3", "PETR4", "LREN3"],  
       "cotacoes": [20, 30, 40, 12, 35],
       "preco_sobre_lucro": [25, 6, 12, 7, 25],  
       "volume": [5000, 1000, 4000, 7000, 1200]
}

df_info_empresas = pd.DataFrame(dicionario)

df_info_empresas = df_info_empresas.set_index("tickers")

df_info_empresas

                nomes  cotacoes  preco_sobre_lucro  volume
tickers
WEGE3             Weg        20                 25    5000
PETR3       Petrobras        30                  6    1000
VALE3            Vale        40                 12    4000
PETR4       Petrobras        12                  7    7000
LREN3    Lojas Renner        35                 25    1200

# Mundo 4

Agora que você aprendeu a criar e editar índices, chegou a hora de ver a outra dimensão do dataframe: Colunas!