# Volume 16

### Limpeza e tratamento de dados

In [3]:
import pandas as pd
import yfinance as yf

In [14]:
dados_acao = yf.download(["ITUB4.SA", 'VALE3.SA'], "2025-01-01", "2026-01-01")['Close']
dados_acao

/tmp/ipykernel_64150/272371380.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  dados_acao = yf.download(["ITUB4.SA", 'VALE3.SA'], "2025-01-01", "2026-01-01")['Close']
[*********************100%***********************]  2 of 2 completed

Ticker       ITUB4.SA   VALE3.SA
Date
2025-01-02  25.913847  50.442173
2025-01-03  25.278082  49.503067
2025-01-06  26.413982  48.870796
2025-01-07  26.702198  48.396591
2025-01-08  26.269882  47.931686
...               ...        ...
2025-10-02  37.930000  58.700001
2025-10-03  38.209999  58.590000
2025-10-06  37.770000  59.590000
2025-10-07  37.169998  58.750000
2025-10-08  37.290001  59.200001

[194 rows x 2 columns]

In [19]:
dataWithNa = pd.DataFrame({'empresa': ['ITAU', 'BRADESCO', 'SANTANDER', pd.NA],
                           'cotacao': [20, 50, pd.NA, pd.NA],
                           'volume': [3000, pd.NA, pd.NA ,pd.NA]})

dataWithNa

     empresa cotacao volume
0       ITAU      20   3000
1   BRADESCO      50   <NA>
2  SANTANDER    <NA>   <NA>
3       <NA>    <NA>   <NA>

In [16]:
#tirando dados ausentes
dados_acao = dados_acao.dropna()
dados_acao

Ticker       ITUB4.SA   VALE3.SA
Date
2025-01-02  25.913847  50.442173
2025-01-03  25.278082  49.503067
2025-01-06  26.413982  48.870796
2025-01-07  26.702198  48.396591
2025-01-08  26.269882  47.931686
...               ...        ...
2025-10-02  37.930000  58.700001
2025-10-03  38.209999  58.590000
2025-10-06  37.770000  59.590000
2025-10-07  37.169998  58.750000
2025-10-08  37.290001  59.200001

[194 rows x 2 columns]

In [ ]:
#qualquer na
print(dataWithNa.dropna())
#todas as colunas tem que ser NA
print(dataWithNa.dropna(how = "all"))
#duas colunas como NA
dataWithNa.dropna(subset = ['empresa', 'cotacao'])

  empresa cotacao volume
0    ITAU      20   3000
     empresa cotacao volume
0       ITAU      20   3000
1   BRADESCO      50   <NA>
2  SANTANDER    <NA>   <NA>

    empresa cotacao volume
0      ITAU      20   3000
1  BRADESCO      50   <NA>

In [20]:
#prenchendo dados ausentes
print(dataWithNa.fillna(0))

dataWithNa.fillna({'empresa':'Nenhuma', 
                    'cotacao': 0, 
                    'volume': -10})

     empresa  cotacao  volume
0       ITAU       20    3000
1   BRADESCO       50       0
2  SANTANDER        0       0
3          0        0       0

/tmp/ipykernel_64150/883445185.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  print(dataWithNa.fillna(0))
/tmp/ipykernel_64150/883445185.py:4: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  dataWithNa.fillna({'empresa':'Nenhuma',

     empresa  cotacao  volume
0       ITAU       20    3000
1   BRADESCO       50     -10
2  SANTANDER        0     -10
3    Nenhuma        0     -10

In [ ]:
cotacoes = pd.Series([20, pd.NA, pd.NA, pd.NA, 23, 24, pd.NA, 25], 
                     index = pd.date_range("2022-06-30", freq = "M", periods = 8))
                                           
cotacoes

/tmp/ipykernel_64150/874703409.py:2: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  index = pd.date_range("2022-06-30", freq = "M", periods = 8))

2022-06-30      20
2022-07-31    <NA>
2022-08-31    <NA>
2022-09-30    <NA>
2022-10-31      23
2022-11-30      24
2022-12-31    <NA>
2023-01-31      25
Freq: ME, dtype: object

In [10]:
print(cotacoes.fillna(method = 'ffill'))

cotacoes.fillna(method = 'ffill', limit = 2)

/tmp/ipykernel_64150/3177358116.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(cotacoes.fillna(method = 'ffill'))
/tmp/ipykernel_64150/3177358116.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  print(cotacoes.fillna(method = 'ffill'))
/tmp/ipykernel_64150/3177358116.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  cotacoes.fillna(method = 'ffill', limit = 2)

2022-06-30    20
2022-07-31    20
2022-08-31    20
2022-09-30    20
2022-10-31    23
2022-11-30    24
2022-12-31    24
2023-01-31    25
Freq: ME, dtype: int64

2022-06-30      20
2022-07-31      20
2022-08-31      20
2022-09-30    <NA>
2022-10-31      23
2022-11-30      24
2022-12-31      24
2023-01-31      25
Freq: ME, dtype: object

In [11]:
cotacoes.fillna(cotacoes.mean())

/tmp/ipykernel_64150/31092932.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  cotacoes.fillna(cotacoes.mean())

2022-06-30    20.0
2022-07-31    23.0
2022-08-31    23.0
2022-09-30    23.0
2022-10-31    23.0
2022-11-30    24.0
2022-12-31    23.0
2023-01-31    25.0
Freq: ME, dtype: float64

In [ ]:
import pandas as pd
import numpy as np

# 1. Criando nosso DataFrame de cotações com falhas
data = {
    'data': pd.to_datetime(['2025-10-01', '2025-10-02', '2025-10-03', '2025-10-06', 
                            '2025-10-07', '2025-10-08']),
    'ticker': ['ITUB4', 'ITUB4', 'ITUB4', 'BBAS3', 'BBAS3', 'BBAS3'],
    'abertura': [28.50, 28.90, 29.10, 35.40, 35.80, 35.75],
    'fechamento': [28.90, np.nan, 29.40, 35.80, 35.70, np.nan],
    'volume_negociado': [50_000_000, 55_000_000, 62_000_000, np.nan, 40_000_000, 38_000_000]
}
df = pd.DataFrame(data).set_index('data') # Usar a data como índice é uma boa prática
print("--- Cotações com Falhas (Dados Brutos) ---")
print(df)


# Exemplo 1: Preenchendo volume faltante com um valor fixo (0)
# Racional: um volume NaN pode significar que não houve negociação ou 
# foi um erro de registro. Preencher com 0 é uma abordagem conservadora.
print("\n--- 1. Preenchendo volume com 0 ---")
df_vol_zero = df.copy() # Copiamos para não alterar o original
df_vol_zero['volume_negociado'] = df_vol_zero['volume_negociado'].fillna(0)
print(df_vol_zero)


# Exemplo 2: Usando 'ffill' para o preço de fechamento (MUITO COMUM)
# Racional: O preço de uma ação em um dia que não houve negociação 
# (ou falha no dado) é frequentemente considerado o mesmo do dia anterior.
print("\n--- 2. Usando forward fill (ffill) para o fechamento ---")
df_ffill = df.copy()
df_ffill['fechamento'] = df_ffill['fechamento'].fillna(method='ffill')
print(df_ffill)


# Exemplo 3: Usando um dicionário para aplicar regras diferentes por coluna
# Racional: Vamos aplicar as duas estratégias acima de uma só vez.
print("\n--- 3. Usando um dicionário para preenchimento customizado ---")
valores_para_preencher = {
    'fechamento': df['fechamento'].mean(), # Poderíamos usar a média também
    'volume_negociado': 0
}
df_dict = df.fillna(value=valores_para_preencher)
print(df_dict)

--- Cotações com Falhas (Dados Brutos) ---
           ticker  abertura  fechamento  volume_negociado
data
2025-10-01  ITUB4     28.50        28.9        50000000.0
2025-10-02  ITUB4     28.90         NaN        55000000.0
2025-10-03  ITUB4     29.10        29.4        62000000.0
2025-10-06  BBAS3     35.40        35.8               NaN
2025-10-07  BBAS3     35.80        35.7        40000000.0
2025-10-08  BBAS3     35.75         NaN        38000000.0

--- 1. Preenchendo volume com 0 ---
           ticker  abertura  fechamento  volume_negociado
data
2025-10-01  ITUB4     28.50        28.9        50000000.0
2025-10-02  ITUB4     28.90         NaN        55000000.0
2025-10-03  ITUB4     29.10        29.4        62000000.0
2025-10-06  BBAS3     35.40        35.8               0.0
2025-10-07  BBAS3     35.80        35.7        40000000.0
2025-10-08  BBAS3     35.75         NaN        38000000.0

--- 2. Usando forward fill (ffill) para o fechamento ---
           ticker  abertura  fechamento  volume_negociado
data
2025-10-01  ITUB4     28.50        28.9        50000000.0
2025-10-02  ITUB4     28.90        28.9        55000000.0
2025-10-03  ITUB4     29.10        29.4        62000000.0
2025-10-06  BBAS3     35.40        35.8               NaN
2025-10-07  BBAS3     35.80        35.7        40000000.0
2025-10-08  BBAS3     35.75        35.7        38000000.0

--- 3. Usando um dicionário para preenchimento customizado ---
           ticker  abertura  fechamento  volume_negociado
data
2025-10-01  ITUB4     28.50       28.90        50000000.0
2025-10-02  ITUB4     28.90       32.45        55000000.0
2025-10-03  ITUB4     29.10       29.40        62000000.0
2025-10-06  BBAS3     35.40       35.80               0.0
2025-10-07  BBAS3     35.80       35.70        40000000.0
2025-10-08  BBAS3     35.75       32.45        38000000.0

/tmp/ipykernel_64150/1342240385.py:30: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_ffill['fechamento'] = df_ffill['fechamento'].fillna(method='ffill')

# Exercícios

* Exercício 64: Puxe dados de cotação ajustadas das empresas PETR4.SA, LJQQ3.SA e CASH3.SA desde 2015. Crie um dataframe que não possua nenhum dado faltante em nenhuma coluna e, em seguida, um dataframe que filtre NA da coluna LJQQ3 mas aceite NA em CASH3.
<br>

* Exercício 65: Leia a planilha disponibilizada na aula com as cotações reais de EUCA3 desde 25/05/2022 até 22/09/2022. Preencha as cotações faltantes com o método ffill limitando a dois dias de preenchimento. Obs: Preste atenção se o valor que veio do excel é realmente um NA!

In [12]:
#gabarito 64

acoes = ['PETR4.SA', 'LJQQ3.SA', 'CASH3.SA']
inicio = '2015-01-01'
final = '2022-01-01'

dados_cotacoes = yf.download(acoes, inicio, final)['Close']

dados_cotacoes_sem_na = dados_cotacoes.dropna()

dados_cotacoes_sem_na_ljqq = dados_cotacoes.dropna(subset = ['LJQQ3.SA'])

print(dados_cotacoes)
print(dados_cotacoes_sem_na)
print(dados_cotacoes_sem_na_ljqq)

/tmp/ipykernel_64150/655382678.py:7: FutureWarning: YF.download() has changed argument auto_adjust default to True
  dados_cotacoes = yf.download(acoes, inicio, final)['Close']
[                       0%                       ]

[*********************100%***********************]  3 of 3 completed

KeyError: 'Close'

In [ ]:
#gabarito 65 

dados_euca3 = pd.read_excel('dados_euca3.xlsx', na_values = "nd")

dados_euca3_tratado = dados_euca3.fillna(method = 'ffill', limit = 2)

dados_euca3_tratado.tail(50)

         Data  EUCA3
35 2022-08-03  13.41
36 2022-08-02  13.86
37 2022-08-01  13.30
38 2022-07-29  13.84
39 2022-07-28  13.84
40 2022-07-27  13.99
41 2022-07-26  13.99
42 2022-07-25  14.08
43 2022-07-22  13.39
44 2022-07-21  13.00
45 2022-07-20  13.25
46 2022-07-19  13.25
47 2022-07-18  12.96
48 2022-07-15  12.80
49 2022-07-14  12.80
50 2022-07-13  12.91
51 2022-07-12  12.91
52 2022-07-11  12.91
53 2022-07-08    NaN
54 2022-07-07  12.91
55 2022-07-06  12.91
56 2022-07-05  13.16
57 2022-07-04  13.38
58 2022-07-01  13.38
59 2022-06-30  12.87
60 2022-06-29  12.99
61 2022-06-28  13.15
62 2022-06-27  13.31
63 2022-06-24  14.09
64 2022-06-23  14.09
65 2022-06-22  14.10
66 2022-06-21  14.22
67 2022-06-20  14.22
68 2022-06-17  14.22
69 2022-06-15  14.39
70 2022-06-14  14.50
71 2022-06-13  14.30
72 2022-06-10  15.00
73 2022-06-09  15.00
74 2022-06-08  15.34
75 2022-06-07  15.34
76 2022-06-06  15.30
77 2022-06-03  15.38
78 2022-06-02  15.38
79 2022-06-01  15.39
80 2022-05-31  15.64
81 2022-05-30  15.68
82 2022-05-27  15.77
83 2022-05-26  15.43
84 2022-05-25  15.28

# Mundo 17 

Para seguir nosso aprendizado no tratamento de dados, temos que aprender a lidar com valores duplicados dentro dos nossos dataframes. Como podemos, por exemplo, selecionar o código de negociação com maior liquidez em um dia específico?