# Volume 06

### Introdução ao Pandas

In [1]:
import pandas as pd
import numpy as np

In [9]:
def generate_historical_series(initial_value, volatility, periods, start_date, frequency="ME"):
    """
    Generates a historical time series based on an initial value and volatility.
    Args:
        initial_value (float): The starting value of the series.
        volatility (float): The volatility for the random walk (e.g., 0.02 for 2%).
        periods (int): The number of periods to generate.
        start_date (str or datetime): The starting date for the series.
        frequency (str, optional): The frequency for the date range (Pandas offset alias). 
                                   Defaults to "ME" (Month End).

    Returns:
        pd.Series: A Pandas Series with a DatetimeIndex.
    """    
    prices = [initial_value]
    
    for i in range(periods - 1):
        price = prices[i] * (1 + np.random.normal(0, volatility))
        prices.append(price)
    
    series = pd.Series(prices, index=pd.date_range(start_date, 
                                                   periods=periods, 
                                                   freq=frequency))
                                
    return series

In [11]:
serie_euro = generate_historical_series(5, 0.01, 5, "2025-01-01")
serie_cotation = generate_historical_series(20, 0.05, 5, "2025-01-01")
serie_cotation

2025-01-31    20.000000
2025-02-28    19.422512
2025-03-31    19.188287
2025-04-30    20.626133
2025-05-31    22.359943
Freq: ME, dtype: float64

In [12]:
serie_euro

2025-01-31    5.000000
2025-02-28    4.982732
2025-03-31    4.933459
2025-04-30    4.933073
2025-05-31    4.909296
Freq: ME, dtype: float64

In [15]:
#as operações aritméticas são feitas através dos índices! 

serie_cotation_euro = serie_cotation/serie_euro
serie_cotation_euro

2025-01-31    4.000000
2025-02-28    3.897965
2025-03-31    3.889418
2025-04-30    4.181193
2025-05-31    4.554613
Freq: ME, dtype: float64

In [16]:
serie_profit = generate_historical_series(2, 0.5, 5, "2022-01-01")
serie_cotation = generate_historical_series(20, 0.05, 5, "2022-01-01")


df = pd.DataFrame({"cotation": serie_cotation,
                   "profit_by_stock": serie_profit})

df

             cotation  profit_by_stock
2022-01-31  20.000000         2.000000
2022-02-28  19.128728         2.354524
2022-03-31  18.661708         3.468132
2022-04-30  19.165788         1.623564
2022-05-31  19.549347         2.219507

In [17]:
#criando coluna P/L

df['PL'] = df['cotation']/df['profit_by_stock']

df

             cotation  profit_by_stock         PL
2022-01-31  20.000000         2.000000  10.000000
2022-02-28  19.128728         2.354524   8.124242
2022-03-31  18.661708         3.468132   5.380911
2022-04-30  19.165788         1.623564  11.804761
2022-05-31  19.549347         2.219507   8.807968

In [21]:
#pode fazer qualquer operação 

print(df['cotation'] + df['profit_by_stock'])
print(df['cotation'] - df['profit_by_stock'])
print(df['cotation'] ** df['profit_by_stock'])

2022-01-31    22.000000
2022-02-28    21.483252
2022-03-31    22.129840
2022-04-30    20.789352
2022-05-31    21.768854
Freq: ME, dtype: float64
2022-01-31    18.000000
2022-02-28    16.774203
2022-03-31    15.193576
2022-04-30    17.542224
2022-05-31    17.329840
Freq: ME, dtype: float64
2022-01-31      400.000000
2022-02-28     1041.744657
2022-03-31    25575.677904
2022-04-30      120.854964
2022-05-31      733.968300
Freq: ME, dtype: float64

In [29]:
# O nome do argumento foi corrigido de "frequencia" para "frequency".
# O argumento "freq" é "Q" para "Quarter" (Trimestre), o que está correto para a sua necessidade.
serie_profit_trimestral = generate_historical_series(20000, 0.1, 4, "2025-01-01", frequency="QE") # Ajustei a volatilidade para 0.1 (10%) para um resultado mais realista

print("--- Série de Lucro Trimestral ---")
print(serie_profit_trimestral)

# A sua lógica para somar está perfeitamente correta.
profit_anual = serie_profit_trimestral.sum()

# CORREÇÃO 3: Usar print() para garantir que o resultado seja exibido.
print("\n--- Soma do Lucro Anual ---")
print(profit_anual)

--- Série de Lucro Trimestral ---
2025-03-31    20000.000000
2025-06-30    22313.514139
2025-09-30    25091.351669
2025-12-31    28361.587131
Freq: QE-DEC, dtype: float64

--- Soma do Lucro Anual ---
95766.45293904367

In [30]:
#acumular dados de uma coluna

serie_profit_trimestral = generate_historical_series(20000, 2, 4, "2025-01-01", frequency = "QE")

print(serie_profit_trimestral)

crescimento_lucros  = serie_profit_trimestral.cumsum()

crescimento_lucros

2025-03-31    20000.000000
2025-06-30      163.949699
2025-09-30      404.038873
2025-12-31     -227.935495
Freq: QE-DEC, dtype: float64

2025-03-31    20000.000000
2025-06-30    20163.949699
2025-09-30    20567.988571
2025-12-31    20340.053076
Freq: QE-DEC, dtype: float64

In [ ]:
#maior e menor dado de lucro no trimestre

In [33]:
serie_profit_trimestral = generate_historical_series(20000, 2, 4, "2025-01-01", frequency = "QE")

print(serie_profit_trimestral)

profit_max = serie_profit_trimestral.max()
profit_min = serie_profit_trimestral.min()

print(profit_min)
print(profit_max)

2025-03-31    20000.000000
2025-06-30    21634.872864
2025-09-30    39527.002786
2025-12-31    24136.039725
Freq: QE-DEC, dtype: float64
20000.0
39527.002786248355

# Exercícios 

No dataframe base trabalhado em todas as aulas:

* Exercício 50: Crie uma nova coluna chamada "lucro_por_acao" e calcule o lucro por ação baseado nas informações de PL e preço. Obs: LPA = P/Indicador(PL)
* Exercício 51: Assuma a cotação do dólar como 5.25 e crie a coluna de cotações dolarizadas na tabela.
* Exercício 52: Encontre qual volume total negociado por todas as ações. 
* Exercício 53: Selecione as ações com maior e menor Lucro por ação do dataframe. Dica: use métodos de seleção ensinados na aula passada!