# Volume 16

### Limpeza e tratamento de dados

In [ ]:
!pip install yfinance

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: yfinance in /home/weder/.local/lib/python3.10/site-packages (0.2.66)
Requirement already satisfied: pandas>=1.3.0 in /home/weder/.local/lib/python3.10/site-packages (from yfinance) (2.2.3)
Requirement already satisfied: numpy>=1.16.5 in /home/weder/.local/lib/python3.10/site-packages (from yfinance) (2.2.3)
Requirement already satisfied: requests>=2.31 in /home/weder/.local/lib/python3.10/site-packages (from yfinance) (2.32.3)
Requirement already satisfied: multitasking>=0.0.7 in /home/weder/.local/lib/python3.10/site-packages (from yfinance) (0.0.12)
Requirement already satisfied: platformdirs>=2.0.0 in /home/weder/.local/lib/python3.10/site-packages (from yfinance) (4.3.8)
Requirement already satisfied: pytz>=2022.5 in /home/weder/.local/lib/python3.10/site-packages (from yfinance) (2025.2)
Requirement already satisfied: frozendict>=2.3.4 in /home/weder/.local/lib/python3.10/site-packages (from yfinance) (2.4.6)
Requirement already satisfied: peewee>=3.16.2 in /home/weder/.local/lib/python3.10/site-packages (from yfinance) (3.18.2)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /home/weder/.local/lib/python3.10/site-packages (from yfinance) (4.14.2)
Requirement already satisfied: curl_cffi>=0.7 in /home/weder/.local/lib/python3.10/site-packages (from yfinance) (0.13.0)
Requirement already satisfied: protobuf>=3.19.0 in /home/weder/.local/lib/python3.10/site-packages (from yfinance) (6.32.1)
Requirement already satisfied: websockets>=13.0 in /home/weder/.local/lib/python3.10/site-packages (from yfinance) (15.0.1)
Requirement already satisfied: soupsieve>1.2 in /usr/lib/python3/dist-packages (from beautifulsoup4>=4.11.1->yfinance) (2.3.1)
Requirement already satisfied: typing-extensions>=4.0.0 in /home/weder/.local/lib/python3.10/site-packages (from beautifulsoup4>=4.11.1->yfinance) (4.12.2)
Requirement already satisfied: cffi>=1.12.0 in /home/weder/.local/lib/python3.10/site-packages (from curl_cffi>=0.7->yfinance) (1.17.1)
Requirement already satisfied: certifi>=2024.2.2 in /home/weder/.local/lib/python3.10/site-packages (from curl_cffi>=0.7->yfinance) (2025.8.3)
Requirement already satisfied: pycparser in /home/weder/.local/lib/python3.10/site-packages (from cffi>=1.12.0->curl_cffi>=0.7->yfinance) (2.22)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/weder/.local/lib/python3.10/site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in /home/weder/.local/lib/python3.10/site-packages (from pandas>=1.3.0->yfinance) (2025.1)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas>=1.3.0->yfinance) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/lib/python3/dist-packages (from requests>=2.31->yfinance) (2.0.6)
Requirement already satisfied: idna<4,>=2.5 in /usr/lib/python3/dist-packages (from requests>=2.31->yfinance) (3.3)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/lib/python3/dist-packages (from requests>=2.31->yfinance) (1.26.5)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
import yfinance as yf

In [2]:
dados_acao = yf.download(["ITUB4.SA", 'VALE3.SA'], "2025-01-01", "2026-01-01")['Close']
dados_acao

/tmp/ipykernel_165924/272371380.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  dados_acao = yf.download(["ITUB4.SA", 'VALE3.SA'], "2025-01-01", "2026-01-01")['Close']
[*********************100%***********************]  2 of 2 completed

Ticker       ITUB4.SA   VALE3.SA
Date
2025-01-02  25.913849  50.442173
2025-01-03  25.278088  49.503067
2025-01-06  26.413990  48.870796
2025-01-07  26.702202  48.396591
2025-01-08  26.269880  47.931686
...               ...        ...
2025-10-03  38.209999  58.590000
2025-10-06  37.770000  59.590000
2025-10-07  37.169998  58.750000
2025-10-08  37.240002  59.200001
2025-10-09  37.180000  59.110001

[195 rows x 2 columns]

In [3]:
dataWithNa = pd.DataFrame({'empresa': ['ITAU', 'BRADESCO', 'SANTANDER', pd.NA],
                           'cotacao': [20, 50, pd.NA, pd.NA],
                           'volume': [3000, pd.NA, pd.NA ,pd.NA]})

dataWithNa

     empresa cotacao volume
0       ITAU      20   3000
1   BRADESCO      50   <NA>
2  SANTANDER    <NA>   <NA>
3       <NA>    <NA>   <NA>

In [4]:
#tirando dados ausentes
dados_acao = dados_acao.dropna()
dados_acao

Ticker       ITUB4.SA   VALE3.SA
Date
2025-01-02  25.913849  50.442173
2025-01-03  25.278088  49.503067
2025-01-06  26.413990  48.870796
2025-01-07  26.702202  48.396591
2025-01-08  26.269880  47.931686
...               ...        ...
2025-10-03  38.209999  58.590000
2025-10-06  37.770000  59.590000
2025-10-07  37.169998  58.750000
2025-10-08  37.240002  59.200001
2025-10-09  37.180000  59.110001

[195 rows x 2 columns]

In [19]:
#qualquer na
print(dataWithNa.dropna())
#todas as colunas tem que ser NA
print(dataWithNa.dropna(how = "all"))
#duas colunas como NA
dataWithNa2 = dataWithNa.dropna(subset = ['empresa', 'cotacao','volume'])

dataWithNa

dataWithNa2

  empresa cotacao volume
0    ITAU      20   3000
     empresa cotacao volume
0       ITAU      20   3000
1   BRADESCO      50   <NA>
2  SANTANDER    <NA>   <NA>

  empresa cotacao volume
0    ITAU      20   3000

In [6]:
#prenchendo dados ausentes
print(dataWithNa.fillna(0))

dataWithNa.fillna({'empresa':'Nenhuma', 
                    'cotacao': 0, 
                    'volume': -10})

     empresa  cotacao  volume
0       ITAU       20    3000
1   BRADESCO       50       0
2  SANTANDER        0       0
3          0        0       0

/tmp/ipykernel_165924/883445185.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  print(dataWithNa.fillna(0))
/tmp/ipykernel_165924/883445185.py:4: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  dataWithNa.fillna({'empresa':'Nenhuma',

     empresa  cotacao  volume
0       ITAU       20    3000
1   BRADESCO       50     -10
2  SANTANDER        0     -10
3    Nenhuma        0     -10

In [7]:
cotacoes = pd.Series([20, pd.NA, pd.NA, pd.NA, 23, 24, pd.NA, 25], 
                     index = pd.date_range("2022-06-30", freq = "M", periods = 8))
                                           
cotacoes

/tmp/ipykernel_165924/1346231223.py:2: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  index = pd.date_range("2022-06-30", freq = "M", periods = 8))

2022-06-30      20
2022-07-31    <NA>
2022-08-31    <NA>
2022-09-30    <NA>
2022-10-31      23
2022-11-30      24
2022-12-31    <NA>
2023-01-31      25
Freq: ME, dtype: object

In [8]:
print(cotacoes.fillna(method = 'ffill'))

cotacoes.fillna(method = 'ffill', limit = 2)

2022-06-30    20
2022-07-31    20
2022-08-31    20
2022-09-30    20
2022-10-31    23
2022-11-30    24
2022-12-31    24
2023-01-31    25
Freq: ME, dtype: int64

/tmp/ipykernel_165924/3177358116.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(cotacoes.fillna(method = 'ffill'))
/tmp/ipykernel_165924/3177358116.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  print(cotacoes.fillna(method = 'ffill'))
/tmp/ipykernel_165924/3177358116.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  cotacoes.fillna(method = 'ffill', limit = 2)

2022-06-30      20
2022-07-31      20
2022-08-31      20
2022-09-30    <NA>
2022-10-31      23
2022-11-30      24
2022-12-31      24
2023-01-31      25
Freq: ME, dtype: object

In [9]:
cotacoes.fillna(cotacoes.mean())

/tmp/ipykernel_165924/31092932.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  cotacoes.fillna(cotacoes.mean())

2022-06-30    20.0
2022-07-31    23.0
2022-08-31    23.0
2022-09-30    23.0
2022-10-31    23.0
2022-11-30    24.0
2022-12-31    23.0
2023-01-31    25.0
Freq: ME, dtype: float64

In [10]:
import pandas as pd
import numpy as np

# 1. Criando nosso DataFrame de cotaÃ§Ãµes com falhas
data = {
    'data': pd.to_datetime(['2025-10-01', '2025-10-02', '2025-10-03', '2025-10-06', 
                            '2025-10-07', '2025-10-08']),
    'ticker': ['ITUB4', 'ITUB4', 'ITUB4', 'BBAS3', 'BBAS3', 'BBAS3'],
    'abertura': [28.50, 28.90, 29.10, 35.40, 35.80, 35.75],
    'fechamento': [28.90, np.nan, 29.40, 35.80, 35.70, np.nan],
    'volume_negociado': [50_000_000, 55_000_000, 62_000_000, np.nan, 40_000_000, 38_000_000]
}
df = pd.DataFrame(data).set_index('data') # Usar a data como Ã­ndice Ã© uma boa prÃ¡tica
print("--- CotaÃ§Ãµes com Falhas (Dados Brutos) ---")
print(df)


# Exemplo 1: Preenchendo volume faltante com um valor fixo (0)
# Racional: um volume NaN pode significar que nÃ£o houve negociaÃ§Ã£o ou 
# foi um erro de registro. Preencher com 0 Ã© uma abordagem conservadora.
print("\n--- 1. Preenchendo volume com 0 ---")
df_vol_zero = df.copy() # Copiamos para nÃ£o alterar o original
df_vol_zero['volume_negociado'] = df_vol_zero['volume_negociado'].fillna(0)
print(df_vol_zero)


# Exemplo 2: Usando 'ffill' para o preÃ§o de fechamento (MUITO COMUM)
# Racional: O preÃ§o de uma aÃ§Ã£o em um dia que nÃ£o houve negociaÃ§Ã£o 
# (ou falha no dado) Ã© frequentemente considerado o mesmo do dia anterior.
print("\n--- 2. Usando forward fill (ffill) para o fechamento ---")
df_ffill = df.copy()
df_ffill['fechamento'] = df_ffill['fechamento'].fillna(method='ffill')
print(df_ffill)


# Exemplo 3: Usando um dicionÃ¡rio para aplicar regras diferentes por coluna
# Racional: Vamos aplicar as duas estratÃ©gias acima de uma sÃ³ vez.
print("\n--- 3. Usando um dicionÃ¡rio para preenchimento customizado ---")
valores_para_preencher = {
    'fechamento': df['fechamento'].mean(), # PoderÃ­amos usar a mÃ©dia tambÃ©m
    'volume_negociado': 0
}
df_dict = df.fillna(value=valores_para_preencher)
print(df_dict)

--- CotaÃ§Ãµes com Falhas (Dados Brutos) ---
           ticker  abertura  fechamento  volume_negociado
data
2025-10-01  ITUB4     28.50        28.9        50000000.0
2025-10-02  ITUB4     28.90         NaN        55000000.0
2025-10-03  ITUB4     29.10        29.4        62000000.0
2025-10-06  BBAS3     35.40        35.8               NaN
2025-10-07  BBAS3     35.80        35.7        40000000.0
2025-10-08  BBAS3     35.75         NaN        38000000.0

--- 1. Preenchendo volume com 0 ---

/tmp/ipykernel_165924/1662732279.py:32: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_ffill['fechamento'] = df_ffill['fechamento'].fillna(method='ffill')

           ticker  abertura  fechamento  volume_negociado
data
2025-10-01  ITUB4     28.50        28.9        50000000.0
2025-10-02  ITUB4     28.90         NaN        55000000.0
2025-10-03  ITUB4     29.10        29.4        62000000.0
2025-10-06  BBAS3     35.40        35.8               0.0
2025-10-07  BBAS3     35.80        35.7        40000000.0
2025-10-08  BBAS3     35.75         NaN        38000000.0

--- 2. Usando forward fill (ffill) para o fechamento ---
           ticker  abertura  fechamento  volume_negociado
data
2025-10-01  ITUB4     28.50        28.9        50000000.0
2025-10-02  ITUB4     28.90        28.9        55000000.0
2025-10-03  ITUB4     29.10        29.4        62000000.0
2025-10-06  BBAS3     35.40        35.8               NaN
2025-10-07  BBAS3     35.80        35.7        40000000.0
2025-10-08  BBAS3     35.75        35.7        38000000.0

--- 3. Usando um dicionÃ¡rio para preenchimento customizado ---
           ticker  abertura  fechamento  volume_negociado
data
2025-10-01  ITUB4     28.50       28.90        50000000.0
2025-10-02  ITUB4     28.90       32.45        55000000.0
2025-10-03  ITUB4     29.10       29.40        62000000.0
2025-10-06  BBAS3     35.40       35.80               0.0
2025-10-07  BBAS3     35.80       35.70        40000000.0
2025-10-08  BBAS3     35.75       32.45        38000000.0

# ExercÃ­cios

* ExercÃ­cio 64: Puxe dados de cotaÃ§Ã£o ajustadas das empresas PETR4.SA, LJQQ3.SA e CASH3.SA desde 2015. Crie um dataframe que nÃ£o possua nenhum dado faltante em nenhuma coluna e, em seguida, um dataframe que filtre NA da coluna LJQQ3 mas aceite NA em CASH3.
<br>

* ExercÃ­cio 65: Leia a planilha disponibilizada na aula com as cotaÃ§Ãµes reais de EUCA3 desde 25/05/2022 atÃ© 22/09/2022. Preencha as cotaÃ§Ãµes faltantes com o mÃ©todo ffill limitando a dois dias de preenchimento. Obs: Preste atenÃ§Ã£o se o valor que veio do excel Ã© realmente um NA!

In [11]:
#gabarito 64

acoes = ['PETR4.SA', 'LJQQ3.SA', 'CASH3.SA']
inicio = '2015-01-01'
final = '2022-01-01'

dados_cotacoes = yf.download(acoes, inicio, final)['Close']

dados_cotacoes_sem_na = dados_cotacoes.dropna()

dados_cotacoes_sem_na_ljqq = dados_cotacoes.dropna(subset = ['LJQQ3.SA'])

print(dados_cotacoes)
print(dados_cotacoes_sem_na)
print(dados_cotacoes_sem_na_ljqq)

/tmp/ipykernel_165924/2946672265.py:7: FutureWarning: YF.download() has changed argument auto_adjust default to True
  dados_cotacoes = yf.download(acoes, inicio, final)['Close']
[*********************100%***********************]  3 of 3 completed

Ticker       CASH3.SA   LJQQ3.SA   PETR4.SA
Date
2015-01-02        NaN        NaN   2.572509
2015-01-05        NaN        NaN   2.352638
2015-01-06        NaN        NaN   2.275682
2015-01-07        NaN        NaN   2.382869
2015-01-08        NaN        NaN   2.536780
...               ...        ...        ...
2021-12-23  30.555468   9.915354  10.325616
2021-12-27  30.654034  10.196576  10.478698
2021-12-28  30.358335  10.323580  10.489632
2021-12-29  29.668373   9.942569  10.402156
2021-12-30  31.935392  10.151218  10.369355

[1738 rows x 3 columns]
Ticker       CASH3.SA   LJQQ3.SA   PETR4.SA
Date
2020-11-09  15.572405  13.381128   6.401822
2020-11-10  16.081093  12.712071   6.837300
2020-11-11  16.163139  13.291920   6.778051
2020-11-12  15.670861  12.890487   6.490695
2020-11-13  15.999046  13.300841   6.703990
...               ...        ...        ...
2021-12-23  30.555468   9.915354  10.325616
2021-12-27  30.654034  10.196576  10.478698
2021-12-28  30.358335  10.323580  10.489632
2021-12-29  29.668373   9.942569  10.402156
2021-12-30  31.935392  10.151218  10.369355

[282 rows x 3 columns]
Ticker       CASH3.SA   LJQQ3.SA   PETR4.SA
Date
2020-08-10        NaN  11.409642   6.946911
2020-08-11        NaN  11.373960   6.837300
2020-08-12        NaN  11.284752   6.955797
2020-08-13        NaN  11.507770   6.766201
2020-08-14        NaN  12.043017   6.715840
...               ...        ...        ...
2021-12-23  30.555468   9.915354  10.325616
2021-12-27  30.654034  10.196576  10.478698
2021-12-28  30.358335  10.323580  10.489632
2021-12-29  29.668373   9.942569  10.402156
2021-12-30  31.935392  10.151218  10.369355

[344 rows x 3 columns]

In [12]:
#gabarito 65 

dados_euca3 = pd.read_excel('dados_euca3.xlsx', na_values = "nd")

dados_euca3_tratado = dados_euca3.fillna(method = 'ffill', limit = 2)

dados_euca3_tratado.tail(50)

FileNotFoundError: [Errno 2] No such file or directory: 'dados_euca3.xlsx'

# Mundo 17 

Para seguir nosso aprendizado no tratamento de dados, temos que aprender a lidar com valores duplicados dentro dos nossos dataframes. Como podemos, por exemplo, selecionar o cÃ³digo de negociaÃ§Ã£o com maior liquidez em um dia especÃ­fico?