# Volume 5
### Introdução ao Pandas

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Criação do DataFrame com dados de bancos brasileiros
df_bancos = pd.DataFrame({
    "banco": ['Itaú Unibanco', 'Bradesco', 'Banco do Brasil', 'Santander Brasil'] * 2,
    "cotacao_acao": [45.50, 28.75, 52.10, 35.90, 46.20, 29.10, 51.80, 36.50],
    "data": sorted(list(pd.date_range("1/8/2025", periods = 4)) * 2)
})
print(df_bancos)
# Filtro: Ações do Itaú Unibanco com cotação maior que 46.00
itau_maior_que_46 = df_bancos[(df_bancos['banco'] == 'Itaú Unibanco') & (df_bancos['cotacao_acao'] > 46.00)]

# Exibindo o resultado do filtro
print("Filtro - Ações do Itaú com cotação maior que R$ 46.00:")
print(itau_maior_que_46)

              banco  cotacao_acao       data
0     Itaú Unibanco         45.50 2025-01-08
1          Bradesco         28.75 2025-01-08
2   Banco do Brasil         52.10 2025-01-09
3  Santander Brasil         35.90 2025-01-09
4     Itaú Unibanco         46.20 2025-01-10
5          Bradesco         29.10 2025-01-10
6   Banco do Brasil         51.80 2025-01-11
7  Santander Brasil         36.50 2025-01-11
Filtro - Ações do Itaú com cotação maior que R$ 46.00:
           banco  cotacao_acao       data
4  Itaú Unibanco          46.2 2025-01-10

# Explicação da Lógica do Filtro:
| (Operador "OU"): Diferente do filtro anterior que usava o & (e), o | (ou) é usado aqui.

Condição: O código seleciona todas as linhas onde o banco é 'Banco do Brasil' OU onde a cotacao_acao é maior que 50.00.

Resultado: O resultado incluirá todas as entradas do "Banco do Brasil", independentemente do preço, e também qualquer outra ação de outro banco cujo preço esteja acima de R$ 50,00. No nosso exemplo, isso inclui as duas linhas do "Banco do Brasil" e as duas do "Itaú Unibanco" que têm cotações acima de 50.

In [3]:
import pandas as pd
import numpy as np

# Criação do DataFrame com dados de bancos brasileiros
df_bancos = pd.DataFrame({
    "banco": ['Itaú Unibanco', 'Bradesco', 'Banco do Brasil', 'Santander Brasil'] * 2,
    "cotacao_acao": [45.50, 28.75, 52.10, 35.90, 46.20, 29.10, 51.80, 36.50],
    "data": sorted(list(pd.date_range("1/8/2025", periods = 4)) * 2)
})
print("DataFrame Original:")
print(df_bancos)
print("\n" + "="*40 + "\n")
banco_brasil_ou_maior_50 = df_bancos[(df_bancos['banco'] == 'Banco do Brasil') | (df_bancos['cotacao_acao'] > 50.00)]
print("Filtro - Ações do 'Banco do Brasil' OU cotação > R$ 50.00:")
print(banco_brasil_ou_maior_50)

DataFrame Original:
              banco  cotacao_acao       data
0     Itaú Unibanco         45.50 2025-01-08
1          Bradesco         28.75 2025-01-08
2   Banco do Brasil         52.10 2025-01-09
3  Santander Brasil         35.90 2025-01-09
4     Itaú Unibanco         46.20 2025-01-10
5          Bradesco         29.10 2025-01-10
6   Banco do Brasil         51.80 2025-01-11
7  Santander Brasil         36.50 2025-01-11

========================================

Filtro - Ações do 'Banco do Brasil' OU cotação > R$ 50.00:
             banco  cotacao_acao       data
2  Banco do Brasil          52.1 2025-01-09
6  Banco do Brasil          51.8 2025-01-11

In [4]:
import pandas as pd
dados_bancos = {
    'banco': ['Itaú Unibanco', 'Bradesco', 'Banco do Brasil', 'Santander Brasil'],
    'cotacao_acao': [45.50, 29.10, 52.10, 36.50]
}
df_bancos = pd.DataFrame(
    dados_bancos, 
    index=['2025-09-22', '2025-09-22', '2025-09-23', '2025-09-23']
)
print("DataFrame Original com Índice de Datas:")
print(df_bancos)
print("\n" + "="*40 + "\n")

dados_dia_23 = df_bancos[(df_bancos.index == '2025-09-23')]
print("Filtro - Cotações do dia 2025-09-23:")
print(dados_dia_23)

DataFrame Original com Índice de Datas:
                       banco  cotacao_acao
2025-09-22     Itaú Unibanco          45.5
2025-09-22          Bradesco          29.1
2025-09-23   Banco do Brasil          52.1
2025-09-23  Santander Brasil          36.5

========================================

Filtro - Cotações do dia 2025-09-23:
                       banco  cotacao_acao
2025-09-23   Banco do Brasil          52.1
2025-09-23  Santander Brasil          36.5

In [5]:
df_bancos = pd.DataFrame({
    'banco': ['Itaú Unibanco', 'Bradesco', 'Banco do Brasil', 'Santander Brasil'],
    'cotacao_acao': [45.50, 29.10, 52.10, 36.50],
    'segmento': ['Tradicional', 'Tradicional', 'Tradicional', 'Tradicional']
}, index=['2025-09-22', '2025-09-23', '2025-09-24', '2025-09-25'])

print("DataFrame Original:")
print(df_bancos)

DataFrame Original:
                       banco  cotacao_acao     segmento
2025-09-22     Itaú Unibanco          45.5  Tradicional
2025-09-23          Bradesco          29.1  Tradicional
2025-09-24   Banco do Brasil          52.1  Tradicional
2025-09-25  Santander Brasil          36.5  Tradicional

In [6]:
#um unico dia
print(df_bancos.loc['2025-09-22'])

banco           Itaú Unibanco
cotacao_acao             45.5
segmento          Tradicional
Name: 2025-09-22, dtype: object

In [7]:
# Retorna uma Series com os dados daquela linha
linha_bradesco = df_bancos.loc['2025-09-23']
print("\n1. Selecionando a linha '2025-09-23':")
print(linha_bradesco)

1. Selecionando a linha '2025-09-23':
banco              Bradesco
cotacao_acao           29.1
segmento        Tradicional
Name: 2025-09-23, dtype: object

In [8]:
# A ordem na lista determina a ordem no resultado
linhas_especificas = df_bancos.loc[['2025-09-25', '2025-09-22']]
print("\n2. Selecionando múltiplas linhas com uma lista:")
print(linhas_especificas)

2. Selecionando múltiplas linhas com uma lista:
                       banco  cotacao_acao     segmento
2025-09-25  Santander Brasil          36.5  Tradicional
2025-09-22     Itaú Unibanco          45.5  Tradicional

In [9]:
# Pega todas as linhas no intervalo, incluindo o início e o fim
intervalo_linhas = df_bancos.loc['2025-09-23':'2025-09-25']
print("\n3. Selecionando um intervalo de linhas:")
print(intervalo_linhas)

3. Selecionando um intervalo de linhas:
                       banco  cotacao_acao     segmento
2025-09-23          Bradesco          29.1  Tradicional
2025-09-24   Banco do Brasil          52.1  Tradicional
2025-09-25  Santander Brasil          36.5  Tradicional

In [10]:
# Valor específico (uma célula): linha '2025-09-24', coluna 'banco'
celula = df_bancos.loc['2025-09-24', 'banco']
print("\n4.1. Selecionando uma única célula:")
print(celula) # Retorna o valor diretamente

# Múltiplas linhas e uma coluna específica
coluna_parcial = df_bancos.loc['2025-09-23':'2025-09-25', 'cotacao_acao']
print("\n4.2. Selecionando um intervalo de linhas e uma coluna:")
print(coluna_parcial)

# Uma linha e múltiplas colunas
linha_parcial = df_bancos.loc['2025-09-22', ['banco', 'segmento']]
print("\n4.3. Selecionando uma linha e múltiplas colunas:")
print(linha_parcial)

4.1. Selecionando uma única célula:
Banco do Brasil

4.2. Selecionando um intervalo de linhas e uma coluna:
2025-09-23    29.1
2025-09-24    52.1
2025-09-25    36.5
Name: cotacao_acao, dtype: float64

4.3. Selecionando uma linha e múltiplas colunas:
banco       Itaú Unibanco
segmento      Tradicional
Name: 2025-09-22, dtype: object

In [11]:
# Selecionar todas as linhas onde a cotação é maior que 40
altas = df_bancos.loc[df_bancos['cotacao_acao'] > 40]
print("\n5. Selecionando com condição (cotação > 40):")
print(altas)

# Combinando condição e seleção de coluna
# 'Me dê o nome do banco e a cotação das ações que valem mais de 40'
altas_info = df_bancos.loc[df_bancos['cotacao_acao'] > 40, ['banco', 'cotacao_acao']]
print("\n5.1. Condição nas linhas e colunas específicas:")
print(altas_info)

5. Selecionando com condição (cotação > 40):
                      banco  cotacao_acao     segmento
2025-09-22    Itaú Unibanco          45.5  Tradicional
2025-09-24  Banco do Brasil          52.1  Tradicional

5.1. Condição nas linhas e colunas específicas:
                      banco  cotacao_acao
2025-09-22    Itaú Unibanco          45.5
2025-09-24  Banco do Brasil          52.1

In [12]:
# Modificar um valor específico
print("\n6. Modificando valores com .loc")
print("Valor antigo do Itaú:", df_bancos.loc['2025-09-22', 'cotacao_acao'])
df_bancos.loc['2025-09-22', 'cotacao_acao'] = 46.75 # Novo valor
print("Valor novo do Itaú:", df_bancos.loc['2025-09-22', 'cotacao_acao'])

# Modificar uma coluna inteira com base em uma condição
# Mudar o segmento para 'Banco Público' se o banco for 'Banco do Brasil'
df_bancos.loc[df_bancos['banco'] == 'Banco do Brasil', 'segmento'] = 'Banco Público'
print("\nDataFrame após modificações:")
print(df_bancos)

6. Modificando valores com .loc
Valor antigo do Itaú: 45.5
Valor novo do Itaú: 46.75

DataFrame após modificações:
                       banco  cotacao_acao       segmento
2025-09-22     Itaú Unibanco         46.75    Tradicional
2025-09-23          Bradesco         29.10    Tradicional
2025-09-24   Banco do Brasil         52.10  Banco Público
2025-09-25  Santander Brasil         36.50    Tradicional

In [ ]:
import pandas as pd
datas = pd.date_range(start='2025-09-22', periods=5, freq='B') # 'B' = Business Day
precos = {
    'ITUB4': [32.50, 32.80, 32.75, 33.10, 33.45], # Itaú Unibanco
    'BBDC4': [15.20, 15.10, 15.35, 15.40, 15.25], # Bradesco
    'BBAS3': [55.80, 56.10, 55.90, 56.50, 57.00], # Banco do Brasil
    'SANB11': [30.10, 30.00, 30.25, 30.50, 30.40] # Santander Brasil
}
df_bancos = pd.DataFrame(precos, index=datas)
print(df_bancos)

DataFrame de Cotações de Bancos:
            ITUB4  BBDC4  BBAS3  SANB11
2025-09-22  32.50  15.20   55.8   30.10
2025-09-23  32.80  15.10   56.1   30.00
2025-09-24  32.75  15.35   55.9   30.25
2025-09-25  33.10  15.40   56.5   30.50
2025-09-26  33.45  15.25   57.0   30.40

In [ ]:
# Linha na posição 0, Coluna na posição 0
preco_inicial_itub4 = df_bancos.iloc[0, 0]
print(f"\nPreço de fechamento do ITUB4 no primeiro dia: R$ {preco_inicial_itub4:.2f}")

Preço de fechamento do ITUB4 no primeiro dia: R$ 32.50

In [ ]:
# Linha na posição 2 (que corresponde ao terceiro dia)
precos_terceiro_dia = df_bancos.iloc[2]
print("\nPreços de todos os bancos no terceiro dia de negociação:")
print(precos_terceiro_dia)

Preços de todos os bancos no terceiro dia de negociação:
ITUB4     32.75
BBDC4     15.35
BBAS3     55.90
SANB11    30.25
Name: 2025-09-24 00:00:00, dtype: float64

In [17]:

serie_bbas3 = df_bancos.iloc[:, 2]
print("\nSérie de preços do Banco do Brasil (BBAS3):")
print(serie_bbas3)

Série de preços do Banco do Brasil (BBAS3):
2025-09-22    55.8
2025-09-23    56.1
2025-09-24    55.9
2025-09-25    56.5
2025-09-26    57.0
Freq: B, Name: BBAS3, dtype: float64

In [ ]:
# Linhas da posição 0 até 3 (sem incluir a 3), todas as colunas
tres_primeiros_dias = df_bancos.iloc[0:3]

print("\nCotações dos três primeiros dias:")
print(tres_primeiros_dias)

Cotações dos três primeiros dias:
            ITUB4  BBDC4  BBAS3  SANB11
2025-09-22  32.50  15.20   55.8   30.10
2025-09-23  32.80  15.10   56.1   30.00
2025-09-24  32.75  15.35   55.9   30.25

In [19]:
# Usando indexação negativa: -2: significa "comece da penúltima linha e vá até o fim"
# Colunas 0 e 1 (slice 0:2)
ultimos_dias_itau_bradesco = df_bancos.iloc[-2:, 0:2]

print("\nComparativo Itaú vs. Bradesco nos últimos 2 dias:")
print(ultimos_dias_itau_bradesco)

Comparativo Itaú vs. Bradesco nos últimos 2 dias:
            ITUB4  BBDC4
2025-09-25  33.10  15.40
2025-09-26  33.45  15.25

In [ ]:
# Linhas nas posições 0, 2 e -1 (última)
# Colunas nas posições 0 (ITUB4) e 3 (SANB11)
relatorio_customizado = df_bancos.iloc[[0, 2, -1], [0, 3]]
print("\nRelatório customizado:")
print(relatorio_customizado)

Relatório customizado:
            ITUB4  SANB11
2025-09-22  32.50   30.10
2025-09-24  32.75   30.25
2025-09-26  33.45   30.40

# Exercícios 

A partir do DataFrame desenvolvido no exercício 40:

* Exercício 47: Selecione a primeira linha inteira e a primeira coluna inteira com loc.
* Exercício 48: Selecione o preço da weg com iat e com at.
* Exercício 49: Selecione as duas primeiras linhas e todas as colunas com iloc.