#DataFrames
Um DataFrame é uma estrutura de dados bidimensional, tabular, com rótulos de
colunas e linhas (índices). É a estrutura mais utilizada no Pandas e pode ser pensadabcomo uma planilha ou uma tabela de banco de dados. Cada coluna em um DataFrame é uma Series .

In [ ]:
import pandas as pd
# Criando um DataFrame a partir de um dicionário de listas
dados = {
'Nome': ['Alice', 'Bob', 'Charlie', 'David'],
'Idade': [25, 30, 35, 40],
'Cidade': ['Nova York', 'Paris', 'Londres', 'Tóquio']
}
df = pd.DataFrame(dados)
print('DataFrame a partir de dicionário de listas:')
print(df)
print(type(df))

DataFrame a partir de dicionário de listas:
      Nome  Idade     Cidade
0    Alice     25  Nova York
1      Bob     30      Paris
2  Charlie     35    Londres
3    David     40     Tóquio
<class 'pandas.core.frame.DataFrame'>

In [ ]:
#Acessando uma coluna do dataframe
print(df.Nome)
print(df['Nome'])

print(df.Idade)
print(df['Idade'])

print(df.Cidade)
print(df['Cidade'])

In [ ]:
# Criando um DataFrame a partir de uma lista de dicionários
dados_lista_dict = [
{'Nome': 'Eva', 'Idade': 28, 'Cidade': 'Berlim'},
{'Nome': 'Frank', 'Idade': 32, 'Cidade': 'Roma'}
]
df_lista_dict = pd.DataFrame(dados_lista_dict)
print('\nDataFrame a partir de lista de dicionários:')
print(df_lista_dict)

#Acessando as colunas de um DataFrame
#print(df_lista_dict.Nome)

DataFrame a partir de lista de dicionários:
    Nome  Idade  Cidade
0    Eva     28  Berlim
1  Frank     32    Roma

In [ ]:
print(df_lista_dict.Nome)
print(df_lista_dict.Idade)
print(df_lista_dict.Cidade)

0      Eva
1    Frank
Name: Nome, dtype: object
0    28
1    32
Name: Idade, dtype: int64
0    Berlim
1      Roma
Name: Cidade, dtype: object