In [ ]:
#Criando o DataFrame
import pandas as pd
dados = {
'Nome': ['Alice', 'Roberto', 'Carlos', 'Davi', 'Everaldo', 'Franklin'],
'Idade': [25, 30, 35, 40, 28, 32],
'Cidade': ['São Paulo', 'Goiania', 'Fortaleza', 'Campina Grande', 'Campinas', 'Rio de Janeiro'],
'Pontuacao': [85, 92, 78, 95, 88, 70]
}

df = pd.DataFrame(dados)

In [ ]:
#Exibindo o DataFrame
print(df)

      Nome  Idade     Cidade  Pontuacao
0    Alice     25  Nova York         85
1      Bob     30      Paris         92
2  Charlie     35    Londres         78
3    David     40     Tóquio         95
4      Eva     28     Berlim         88
5    Frank     32       Roma         70

In [ ]:
# Filtrar por idade maior que 30
filtro_idade = df[df['Idade'] > 30]
print('--- Pessoas com mais de 30 anos ---')
print(filtro_idade)

--- Pessoas com mais de 30 anos ---
      Nome  Idade   Cidade  Pontuacao
2  Charlie     35  Londres         78
3    David     40   Tóquio         95
5    Frank     32     Roma         70

In [ ]:
# Filtrar por cidade 'São Paulo' E pontuação maior que 80
filtro_multiplo = df[(df['Cidade'] == 'São Paulo') &
(df['Pontuacao'] > 80)]
print('\n--- Pessoas de São Paulo com pontuação > 80 ---')
print(filtro_multiplo)

--- Pessoas de Nova York com pontuação > 80 ---
    Nome  Idade     Cidade  Pontuacao
0  Alice     25  Nova York         85

In [ ]:
# Filtrar por cidade 'Fortaleza' OU 'Campina Grande'
filtro_ou = df[(df['Cidade'] == 'Fortaleza') | (df['Cidade']
== 'Campina Grande')]
print('\n--- Pessoas de Fortaleza ou Campina Grande ---')
print(filtro_ou)

--- Pessoas de Paris ou Berlim ---
  Nome  Idade  Cidade  Pontuacao
1  Bob     30   Paris         92
4  Eva     28  Berlim         88

In [ ]:
# Usando .isin() para múltiplas condições em uma coluna
filtro_isin = df[df['Cidade'].isin(['Goiania', 'Campinas'])]
print('\n--- Pessoas de Goiania ou Campinas (usando isin) ---')
print(filtro_isin)

--- Pessoas de Londres ou Tóquio (usando isin) ---
      Nome  Idade   Cidade  Pontuacao
2  Charlie     35  Londres         78
3    David     40   Tóquio         95